{% extends "base.html" %}

{% load static i18n %}

{% block content %}
  <div class="w-full">
    {% include '../../layouts/breadcrumbs.html' with breadcrumb_data=breadcrumb_data %}
    <h1 class="text-[32px] font-medium mb-[38px]">Oferta: {{ offer.subject.name }}</h1>
    {% comment %} Adicionar a oferta {% endcomment %}
    <form action="">
      <p class="text-[22px] uppercase font-medium mb-[25px]">Incluir Discente:</p>
      <div class="flex items-center gap-4">
        <div class="flex-1">
          <div class="relative w-full cursor-pointer">
            <img class="absolute top-[12px] right-[10px]"
                 src="{% static 'images/icons/icon-updown-arrow.svg' %}"
                 width="24px"
                 height="24px" />
            <select name="durationType"
                    class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                    required>
              <option value="default" selected disabled>Selecione o discente...</option>
            </select>
          </div>
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[181px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50 px-[35px]">
          <img src="{% static 'images/icons/icon-arrow.svg' %}"
               width="24px"
               height="24px" />
          <span>Cadastrar</span>
        </button>
      </div>
    </form>
    {% comment %} Filtros {% endcomment %}
    <form class="mt-[43px]">
      <p class="text-[22px] uppercase font-medium mb-[25px]">Discentes:</p>
      <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
        <img src="{% static 'images/icons/icon-search.svg' %}"
             width="18px"
             height="18px" />
        <input type="text"
               name="search"
               placeholder="Pesquisar alunos..."
               class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50"
               value="{{ request.GET.search }}" />
      </div>
      <div class="flex gap-[8px]">
        <div class="relative min-w-[322px] w-max cursor-pointer">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="teacher"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50">
            <option value="default" selected disabled>Selecione a duração...</option>
            {% for teacher in selector_teachers %}
              <option value="{{ teacher.id }}"
                      {% if request.GET.teacher == teacher.id|stringformat:'s' %}selected{% endif %}>
                {{ teacher.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
        <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
          <tr>
            <th class="pl-[76px]">Perfil</th>
            <th>Email</th>
            <th>Matricula</th>
            <th>Nome</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
          {% for enrollment in offer.enrollments.all %}
            <tr>
              <td class="pl-[76px]">
                <div class="relative w-[67px] h-[67px] rounded-full overflow-hidden">
                  <img src="{{ enrollment.student.image.url }}"
                       class="w-full h-full object-cover relative"
                       alt="Student Image" />
                </div>
              </td>
              <td>{{ enrollment.student.email }}</td>
              <td>{{ enrollment.student.registration }}</td>
              <td>{{ enrollment.student.name }}</td>
              <td class="min-w-[40px] !px-[0px]">
                <div class="flex items-center justify-end gap-[50px] mr-[44px]">
                  <a href="{% url 'profile' enrollment.student.id %}?tab=edit_student_data#tab">
                    <img src="{% static 'images/icons/icon-edit-element.svg' %}"
                         width="24px"
                         height="24px"
                         class="cursor-pointer" />
                  </a>
                  <a href="{% url 'remove_student_from_offer' offer.id enrollment.student.id %}"
                     onclick="return confirm('Tem certeza que deseja remover o aluno desta oferta?')">
                    <img src="{% static 'images/icons/icon-remove-element.svg' %}"
                         width="24px"
                         height="24px"
                         class="cursor-pointer" />
                  </a>
                  <a href="{% url 'profile' enrollment.student.id %}?tab=edit_student_data#tab">
                    <img src="{% static 'images/icons/icon-eye.svg' %}"
                         width="24px"
                         height="24px"
                         class="cursor-pointer" />
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mt-[50px] mb-[78px] w-full flex items-center justify-between text-[18px]">
      <span class="font-semibold">Página {{ offers.number }} de {{ offers.paginator.num_pages }}</span>
      <div class="flex gap-[36px]">
        {% if offers.has_previous %}
          <a href="?{% if request.GET.duration %}duration={{ request.GET.duration }}&{% endif %}page={{ offers.previous_page_number }}">
            <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-400 border border-slate-400 rounded-lg">
              Anterior
            </div>
          </a>
        {% endif %}
        {% if offers.has_next %}
          <a href="?{% if request.GET.duration %}duration={{ request.GET.duration }}&{% endif %}page={{ offers.next_page_number }}">
            <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-400 border border-slate-400 rounded-lg">
              Próximo
            </div>
          </a>
        {% endif %}
      </div>
    </div>
    <div class="flex mt-[56px] gap-[16px]">
      <a href="{% url 'delete_offer' offer.id %}"
         onclick="return confirm('Tem certeza que deseja excluir esta oferta?')"
         class=" text-[18px] py-[11px] px-[44px] border border-red-500 rounded-lg font-medium cursor-pointer">
        Excluir Oferta
      </a>
    </div>
  </div>
{% endblock content %}
