{% extends "base.html" %} {% load static i18n %} {% block content %}

<div class="w-full h-full">
  <div>
    <h1 class="font-semibold text-[30px]">Olá 👋, {{ request.user.name }}!</h1>
    <p class="text-[18px]">Seja bem-vindo (a)</p>
  </div>

  <div class="flex gap-[28px]">
    <div
      class="flex rounded-lg items-center justify-center hover:scale-[1.05] cursor-pointer transition-all mt-10 gap-[16px] h-[178px] w-[365px] min-w-[365px] bg-gradient-to-r from-red-500 to-red-700"
    >
      <img
        src="{% static 'images/icons/icon-uninitiated-peis.svg' %}"
        width="85px"
        height="30px"
      />
      <div class="flex-col text-neutral-50">
        <p class="text-[30px]">{{pending_peis}}</p>
        <p>PEIs não iniciados</p>
        <p>Ver todos</p>
      </div>
    </div>

    <div
      class="flex rounded-lg items-center justify-center hover:scale-[1.05] cursor-pointer transition-all mt-10 gap-[16px] h-[178px] w-[365px] min-w-[365px] bg-gradient-to-r from-amber-400 to-amber-500"
    >
      <img
        src="{% static 'images/icons/icon-in-progress-peis.svg' %}"
        width="85px"
        height="30px"
      />
      <div class="flex-col text-neutral-50">
        <p class="text-[30px]">{{in_progress_peis}}</p>
        <p>PEIs em andamento</p>
        <p>Ver todos</p>
      </div>
    </div>

    <div
      class="flex rounded-lg items-center justify-center hover:scale-[1.05] cursor-pointer transition-all mt-10 gap-[16px] h-[178px] w-[365px] min-w-[365px] bg-gradient-to-r from-blue-600 to-blue-700"
      title="Foram preenchidos mas ainda sem parecer, pois o semestre ainda está em andamento."
    >
      <img
        src="{% static 'images/icons/icon-filled-peis.svg' %}"
        width="85px"
        height="30px"
      />
      <div class="flex-col text-neutral-50">
        <p class="text-[30px]">{{filled_peis}}</p>
        <p>PEIs Preenchidos</p>
        <p>Ver todos</p>
      </div>
    </div>

    <div
      class="flex rounded-lg items-center justify-center hover:scale-[1.05] cursor-pointer transition-all mt-10 gap-[16px] h-[178px] w-[365px] min-w-[365px] bg-gradient-to-r from-green-600 to-green-700"
      title="Preenchidos totalmente e finalizados."
    >
      <img
        src="{% static 'images/icons/icon-finished-peis.svg' %}"
        width="85px"
        height="30px"
      />
      <div class="flex-col text-neutral-50">
        <p class="text-[30px]">{{finished_peis}}</p>
        <p>PEIs Finalizados</p>
        <p>Ver todos</p>
      </div>
    </div>
  </div>

  <div class="mt-[101px]">
    <div
      class="flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2"
    >
      <img
        src="{% static 'images/icons/icon-search.svg' %}"
        width="18px"
        height="18px"
      />
      <input
        type="text"
        placeholder="Pesquisar..."
        class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50"
      />
    </div>

    <div class="mt-[35px] flex gap-[19px]">
      <div class="relative w-[322px] cursor-pointer">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="course"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
        >
          <option value="default" selected disabled>
            Selecione o curso...
          </option>
        </select>
      </div>

      <div class="relative w-[322px] cursor-pointer">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="teacher"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
        >
          <option value="default" selected disabled>
            Selecione o professor...
          </option>
        </select>
      </div>

      <div class="relative w-[322px] cursor-pointer">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="studyShift"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
        >
          <option value="default" selected disabled>
            Selecione o turno...
          </option>
          <option value="matutino">Matutino</option>
          <option value="vespertino">Vespertino</option>
          <option value="noturno">Noturno</option>
        </select>
      </div>

      <div class="relative w-[322px] cursor-pointer">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="status"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
        >
          <option value="default" selected disabled>
            Selecione o status...
          </option>
          <option value="naoIniciado">Não iniciado</option>
          <option value="andamento">Em andamento</option>
          <option value="finalizado">Finalizado</option>
        </select>
      </div>

      <div class="relative w-[322px] cursor-pointer">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="status"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
        >
          <option value="default" selected disabled>
            Selecionar diciplina...
          </option>
        </select>
      </div>

      <button class="flex items-center justify-center gap-[10px] w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
          <img
            src="{% static 'images/icons/icon-filter.svg' %}"
            width="24px"
            height="24px"
          />
          <span>Filtrar</span>
        </button>
      </div>
    </div>
  </div>

  <div class="mt-[36px] w-full border border-slate-400 rounded-lg">
    <table class="table-auto w-full [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
      <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px] [&_th]:px-[76px]">
        <tr>
          <th>Perfil</th>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>Status</th>
          <th>Curso</th>
          <th>Qtd. disciplinas</th>
        </tr>
      </thead>
      <tbody class="[&_tr]:border-t [&_tr]:border-slate-400 [&_tr]:h-[97px] [&_td]:px-[76px]">
        {%for pei in all_peis %}
          <tr>
            <td>      
              <img
                src="{{ pei.student.image.url }}"
                width="61px"
                height="61px"
                class="rounded-full"
              />
            </td>
            <td>{{pei.student.registration}}</td>
            <td>{{pei.student.name}}</td>
            <td>
              {%if pei.status == 'NOT_START'  %}
                <div class=" bg-red-300 text-red-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-red-700">
                  PEI Não iniciado
                </div>
              {%elif pei.status == 'IN_PROGRESS' %}
                <div class=" bg-amber-300 text-amber-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-amber-700">
                  PEI em andamento
                </div>
              {%elif pei.status == 'FEEDBACK' %}
                <div class=" bg-blue-300 text-blue-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-blue-700">
                  PEI Preenchido
                </div>
              {%elif pei.status == 'COMPLETED' %}
                <div class=" bg-green-300 text-green-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-green-700">
                  PEI Finalizado
                </div>
              {%endif%}
            </td>
            <td>{{pei.subject.course}}</td>
            <td>{{pei.student.subjects.all.count}}</td>
            <td>
              <img
                src="{% static 'images/icons/icon-eye.svg' %}"
                width="24px"
                height="24px"
                class="cursor-pointer"
              />
            </td>
          </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>
  
  <div class="mt-[50px] mb-[26px] w-full flex items-center justify-between text-[18px]">
    <span class="font-semibold ">Página 1 de 10</span>
    <div class="flex gap-[36px]">
      <button class="w-[110px] h-[44px] font-medium text-slate-400 border border-slate-400 rounded-lg">Anterior</button>
      <button class="w-[110px] h-[44px] font-medium text-slate-400 border border-slate-400 rounded-lg">Próximo</button>
    </div>
  </div>
</div>

{% endblock content %}
