{% extends "base.html" %}
{% load static i18n %}
{% load has_group %}

{% load breadcrumb_item %}
{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-home-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="PEIs" icon="images/icons/icon-pei.svg" url="educational_plan:pei_list" %}
  {% breadcrumb_item text=title icon="images/icons/highlighter-green.svg" %} {% endblock breadcrumb%}
{% block content %}

<div class="w-full">
  <h1 class="text-[32px] font-medium mb-[38px]">
    PEI: {{ object.enrollment.student.name }} - {{object.enrollment.offer.subject.name }}
  </h1>
  <div class="mb-8">
    <h2 class="text-[24px] font-medium">Dados Do Aluno:</h2>
    <div class="mt-6 flex items-start gap-8">
      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[148px] h-[148px] rounded-full bg-amber-600 flex justify-center overflow-hidden items-center"
        >
          <img
            src="{{ object.enrollment.student.image.url }}"
            class="w-full h-full object-cover"
            alt="Student Image"
          />
        </div>
      </div>
      <div class="flex-1">
        <div class="flex">
          <div class="pr-[130px]">
            <p class="text-slate-900 font-medium text-[18px] mb-[28px]">
              Nome completo
            </p>
            <p class="text-slate-400 text-[16px] truncate">
              {{ object.enrollment.student.name }}
            </p>
          </div>
          <div class="">
            <p class="text-slate-900 font-medium text-[18px] mb-[28px]">
              Curso
            </p>
            <p class="text-slate-400 text-[16px] truncate">
              {{ object.enrollment.student.course.name }}
            </p>
          </div>
        </div>
        <hr class="mt-6" />
        <div class="flex gap-6">
          <a href="{% url 'people:profile' object.enrollment.student.id %}" class="w-max cursor-pointer flex items-center justify-center mt-6 gap-[10px] p-[10px] h-[44px] bg-green-500 rounded-[6px] text-neutral-50 hover:opacity-85">
            <img src="{% static 'images/icons/icon-eye-white.svg' %}"
                 alt=""
                 width="24px"
                 height="24px" />
            <span>Visualizar perfil completo</span>
          </a>
          {% if user|has_group:"Coordinator" and object.status == 'FEEDBACK' %}
            <a href="{% url 'educational_plan:pei_mark_completed' object.id %}" class="w-max cursor-pointer flex items-center justify-center mt-6 gap-[10px] p-[10px] h-[44px] bg-blue-600 rounded-[6px] text-neutral-50 hover:opacity-85">
              <img src="{% static 'images/icons/icon-checked-white.svg' %}"
                  alt=""
                  width="24px"
                  height="24px" />
              <span>Marcar PEI como concluido</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if object.objective %}
    <div>
      <h2 class="text-[24px] font-medium">Objetivos Da Disciplina:</h2>
      <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
        {{object.objective}}
      </div>
    </div>
  {% endif %}
  {% if object.adapted_objective %}
  <div>
    <h2 class="text-[24px] font-medium">Objetivos Adaptados:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.adapted_objective}}
    </div>
  </div>
  {% endif %}
  {% if object.content %}
  <div>
    <h2 class="text-[24px] font-medium">Conteúdo programático:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.content}}
    </div>
  </div>
  {% endif %}
  {% if object.adapted_content %}
  <div>
    <h2 class="text-[24px] font-medium">Conteúdos Adaptados:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.adapted_content}}
    </div>
  </div>
  {% endif %}
  {% if object.methodology %}
  <div>
    <h2 class="text-[24px] font-medium">Metodologias:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.methodology}}
    </div>
  </div>
  {% endif %}
  {% if object.adapted_methodology %}
  <div>
    <h2 class="text-[24px] font-medium">Metodologias adaptadas:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.adapted_methodology}}
    </div>
  </div>
  {% endif %}
  {% if object.resources %}
  <div>
    <h2 class="text-[24px] font-medium">Recursos didáticos:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.resources}}
    </div>
  </div>
  {% endif %}
  {% if object.adapted_resources %}
  <div>
    <h2 class="text-[24px] font-medium">Recursos didáticos adaptados:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.adapted_resources}}
    </div>
  </div>
  {% endif %}
  {% if object.assessments %}
  <div>
    <h2 class="text-[24px] font-medium">Avaliações:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.assessments}}
    </div>
  </div>
  {% endif %}
  {% if object.adapted_assessments %}
  <div>
    <h2 class="text-[24px] font-medium">Avaliações Adaptadas:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.adapted_assessments}}
    </div>
  </div>
  {% endif %}
  {% if not object.objective and not object.adapted_objective and not object.content and not object.adapted_content and not object.methodology and not object.adapted_methodology and not object.resources and not object.adapted_resources and not object.assessments and not object.adapted_assessments %}
    <p class="text-center text-[18px] pt-6 text-slate-400">Não há conteúdo preenchido</p>
  {% endif %}
  {% comment %} Parecer em andamento {% endcomment %}
  {% comment %} <div>
    <h2 class="text-[24px] font-medium">Parecer:</h2>
    <div class="whitespace-pre-wrap text-[18px] text-slate-400 text-justify">
      {{object.adapted_objective}}
    </div>
  </div> {% endcomment %}
  {% if object.status == "COMPLETED" %}
  <a href="{% url 'educational_plan:pei_export' object.pk %}" target="_blank" class="flex gap-3 text-slate-300 w-full border border-slate-200 py-4 justify-center rounded-lg cursor-pointer hover:bg-green-500 group hover:text-white hover:border-green-500 transition-all">
    <img src="{% static 'images/icons/icon-copy.svg' %}"
         alt=""
         class="group-hover:filter group-hover:brightness-0 group-hover:invert"
         width="24px"
         height="24px" />
    Exportar como PDF
  </a>
  {% endif %}

  <div class="mt-20">
    <h2 class="text-[18px] font-medium">Comentários</h2>
    <form method='post' action="{% url 'educational_plan:pei_comment_create' object.pk %}" class="mt-8 flex gap-4">
      {% csrf_token %}
      <div class="bg-green-500/50 w-20 h-20 flex justify-center items-center rounded-full">
        <i class="fas fa-solid fa-user fa-lg"></i>
      </div>
      <div class="mb-4 col-span-2 flex-1">
        <textarea
          name="text"
          required
          placeholder="Escreva um comentário aqui!"
          class="bg-transparent font-sans appearance-none border rounded-lg h-[177px] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500"></textarea>
        <button class="flex gap-3 text-slate-300 w-full border border-slate-200 py-4 justify-center items-center rounded-lg cursor-pointer hover:bg-green-500 group hover:text-white hover:border-green-500 transition-all mt-4">
          <img src="{% static 'images/icons/icon-edit-element.svg' %}"
               alt=""
               class="group-hover:filter group-hover:brightness-0 group-hover:invert"
               width="24px"
               height="24px" />
          Enviar comentário
        </button>
      </div>
    </form>
  </div>

  <hr class="my-8">

  <div class="flex flex-col gap-8">

    {% comment %} Comentário {% endcomment %}
    <div class="p-10 border border-slate-200 rounded-lg flex gap-6">
      <div class="bg-green-500/50 w-20 h-20 flex justify-center items-center rounded-full">
        <i class="fas fa-solid fa-user fa-lg"></i>
      </div>
      <div class="text-[16px] flex-1 flex flex-col gap-4">
        <p class="font-medium">Comentários</p>
        <p class="font-medium">19/07/2024 Há 9h</p>
        <pre class="text-justify text-wrap font-poppins ">Lorem Ipsum é simplesmente uma simulação de texto da  indústria tipográfica e de impressos, e vem sendo utilizado desde o  século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e  os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum  sobreviveu não só a cinco séculos, como também ao salto para a  editoração eletrônica, permanecendo essencialmente inalterado.
        </pre>
        {% comment %} Subcomentários {% endcomment %}
        <div class="flex flex-col gap-8">
          <div class="p-10 border border-slate-200 rounded-lg flex gap-6">
            <div class="bg-green-500/50 w-20 h-20 flex justify-center items-center rounded-full">
              <i class="fas fa-solid fa-user fa-lg"></i>
            </div>
            <div class="text-[16px] flex-1 flex flex-col gap-4">
              <p class="font-medium">Comentários</p>
              <p class="font-medium">19/07/2024 Há 9h</p>
              <pre class="text-justify text-wrap font-poppins ">Lorem Ipsum é simplesmente uma simulação de texto da  indústria tipográfica e de impressos, e vem sendo utilizado desde o  século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e  os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum  sobreviveu não só a cinco séculos, como também ao salto para a  editoração eletrônica, permanecendo essencialmente inalterado.
              </pre>
              {% comment %} Subcomentários {% endcomment %}
              <div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock content %}
