{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Usuários" icon="images/icons/icon-courses-green.svg" url="users:list" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{% translate title %}</h1>
    <form method="get">
      <div class="flex gap-[8px]">
        <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               alt=""
               width="18px"
               height="18px" />
          <input type="text"
                 name="name"
                 id="id_name"
                 placeholder="Nome"
                 value="{{ request.GET.name }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
        <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               alt=""
               width="18px"
               height="18px" />
          <input type="text"
                 name="email"
                 id="id_email"
                 placeholder="Email"
                 value="{{ request.GET.email }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
      </div>
      <div class="flex gap-[8px]">
        <div class="relative w-[322px] cursor-pointer">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="sector"
                  id="id_sector"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50">
            <option value="" selected disabled>Selecione o setor ...</option>
            {% for sector in filter.form.sector.field.choices %}
              <option value="{{ sector.0 }}"
                      {% if sector.0|stringformat:"s" == request.GET.sector %}selected{% endif %}>
                {{ sector.1 }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="relative w-[322px] cursor-pointer">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="group"
                  id="group"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50">
            <option value="" selected disabled>Selecione o tipo ...</option>
            {% for group in filter.form.groups.field.queryset %}
              <option value="{{ group.id }}"
                      {% if group.id|stringformat:"s" == request.GET.group %}selected{% endif %}>
                {% translate group.name %}
              </option>
            {% endfor %}
          </select>
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 hover:bg-green-400 rounded-[6px] text-neutral-50">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               alt=""
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
    <p class="mt-[53px] text-[18px] font-semibold">Lista de Usuários:</p>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
        <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
          <tr>
            <th class="pl-[76px]">Nome</th>
            <th class="table-cell">Setor</th>
            <th class="table-cell">Tipo</th>
            <th class="table-cell">Situação</th>
            <th colspan="3" style="text-align: center" class='pr-[26px]'>Ações</th>
          </tr>
        </thead>
        <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
          {% for object in object_list %}
            <tr class="hover:bg-slate-200">
              <td class="pl-[76px]">{{ object.name }}</td>
              <td>{{ object.sector }}</td>
              <td class="table-cell">
                {% for group in object.translated_groups %}
                  {{ group }}
                  {% if not forloop.last %}
                    ,
                    <br />
                  {% endif %}
                {% endfor %}
              </td>
              <td class="table-cell">
                {% if object.is_active %}
                  <img src="{% static 'images/icons/icon-user-green.svg' %}"
                       alt=""
                       title="Ativo"
                       width="20px"
                       height="17px" />
                {% else %}
                  <img src="{% static 'images/icons/icon-user-orange.svg' %}"
                       alt=""
                       title="Inativo"
                       width="20px"
                       height="17px" />
                {% endif %}
              </td>
              <td class="flex justify-center items-center h-full gap-[30px]">
                <a class="hover:bg-slate-100 p-2 rounded-full"
                   href="{% url 'users:detail' object.pk %}">
                  <img src="{% static 'images/icons/icon-eye.svg' %}"
                       alt=""
                       width="24px"
                       height="24px"
                       class="cursor-pointer" />
                </a>
                {% comment %} <a class="hover:bg-slate-100 p-2 rounded-full" href="{% url 'people:teacher_update' object.pk %}">
                  <img src="{% static 'images/icons/icon-edit-element.svg' %}" alt="" width="24px" height="24px" class="cursor-pointer" />
                </a> {% endcomment %}
                {% comment %} <button class="hover:bg-slate-100 p-2 rounded-full" type="button" id="openModal{{ object.pk }}" data-modal-id="confirmationModal{{ object.pk }}">
                  <img src="{% static 'images/icons/icon-remove-element.svg' %}" alt="" width="24px" height="24px" class="cursor-pointer" />
                </button> {% endcomment %}
              </td>
              {% include "_confirm_delete_modal.html" with title="Confirmar Exclusão de Docente" body_text="Tem certeza de que deseja excluir este item? Esta ação não pode ser desfeita." delete_url="people:teacher_delete" %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center">Nenhum usuário encontrado.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "_table_pagination.html" %}
  </div>
{% endblock content %}
