DATABASE_URL=postgres://postgres:root@127.0.0.1:5432/sistema_pei
CELERY_BROKER_URL=redis://localhost:6379/0
DJANGO_EMAIL_HOST_USER=email@mail.com
DJANGO_EMAIL_HOST_PASSWORD=password
USE_DOCKER=No
SOCIAL_AUTH_SUAP_KEY=Coloque o client id OAuth 2 do SUAP aqui!
SOCIAL_AUTH_SUAP_SECRET=Coloque a secret OAuth 2 dO SUAP aqui!