{% extends "account/base.html" %}
{% load static i18n %}
{% load allauth account %}


{% block title %}
  Login
{% endblock title %}

{% block login_content %}
  <h1 class="flex gap-2 items-center font-sans font-bold text-slate-900">
    <img src="{% static 'images/icons/icon_perfil.svg' %}" alt="icone representando o perfil de um usuario.">

    Login
  </h1>

  {% if form.errors %}
    <p class="text-red-500 font-sans" >
      O endereço de e-mail e/ou senha especificados não estão corretos.
    </p>
  {% endif %}

  <form class="w-full" action="{% url 'account_login' %}" method="post">
    {% csrf_token %}

    <div class="mb-4">
      <label for="id_login" class="block text-gray-700 text-sm font-bold mb-2">
        Email:
      </label>

      <input type="email" id="id_login" name="login" placeholder="Exemple@gmail.com"
             class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900"
             tabindex="0">

      {% comment %} /List Erros {% endcomment %}
      {% if form.login.errors %}
          <ul class="list-disc p-4">
              {% for error in form.login.errors %}
                <li class="text-red-500" >{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>

    <div class="mb-6">
      <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">
        Senha:
      </label>
      <div class="relative">
        <input type="password" id="id_password" name="password" placeholder="Digite sua senha aqui!"
               class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900"
               tabindex="0">

        <img src="{% static 'images/icons/eye.svg' %}" alt="Icone em formato de olho representando ação de mostrar senha"
             class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5 cursor-pointer" onclick="togglePassword()"
             tabindex="0" id="eyePassword">
      </div>

      {% comment %} /List Erros {% endcomment %}
      {% if form.password.errors %}
        <ul class="list-disc p-4">
          <i id="eye_icon" class="fas fa-regular fa-eye text-zinc-500"></i>
            {% for error in form.password.errors %}
                <li class="text-red-500 font-sans" >{{ error }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="flex items-center justify-between">
      <a href="{% url 'account_reset_password' %}" class="font-sans inline-block align-baseline font-light text-sm text-green-500 hover:text-green-700">
        Esqueceu a senha?
      </a>

      <button type="submit"
              class="font-sans bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded transition duration-300 ease-in-out"
              tabindex="0">

        Entrar
      </button>
    </div>
  </form>
{% endblock login_content %}

{% block inline_javascript %}
<script>
  function togglePassword() {
    /**
    * Alterna a visibilidade de um campo de entrada de senha
    * e atualiza o ícone do botão de alternância de acordo.
    **/

    const passwordInput = document.getElementById('id_password');
    const toggleButton = document.getElementById('eyePassword');

    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);

    if (type === 'password') {
      toggleButton.src = '{% static "images/icons/eye.svg" %}';
      toggleButton.alt = 'Icone em formato de olho representando ação de mostrar senha';
    } else {
      toggleButton.src = '{% static "images/icons/eye_close.svg" %}';
      toggleButton.alt = 'Icone em formato de olho fechado representando ação de ocultar senha';
    }
  }
</script>
{% endblock inline_javascript %}
