{% extends "account/base.html" %}

{% load i18n static %}
{% load account %}

{% block title %}
  {% translate "Password Reset" %}
{% endblock title %}

{% block login_content %}
  <div class="flex flex-col gap-4 w-full">
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="flex flex-col flex-wrap items-center ">
      <img src="{% static 'images/img/undraw_mailbox.svg' %}"
      alt="Figura de caixa de correio"
      class="h-48">

      <p class="font-sans text-gray-700 text-sm font-light text-center w-[32vh]">
        Enviamos um e-mail, você deve recebê-lo dentro de alguns minutos.
      </p>
    </div>

    <div class="flex flex-wrap items-center justify-center">
      <a href="{% url 'account_reset_password' %}"
          class="font-sans inline-block align-baseline font-light text-sm text-green-700 hover:underline focus:text-green-700 px-4 py-2 m-2 cursor-pointer">
        Tentar novamente
      </a>

      <a href="{% url 'account_login' %}"
          class="font-sans inline-block align-baseline font-light text-sm text-green-700 hover:underline focus:text-green-700 px-4 py-2 m-2 cursor-pointer">
        Voltar para tela de login
      </a>
    </div>
  </div>

{% endblock login_content %}

