{% extends "account/base.html" %}

{% load i18n static %}

{% block title %}
  {% translate "Change Password" %}
{% endblock title %}

{% block login_content %}

  <div class="flex flex-col gap-2 w-full">

    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <div class="flex flex-col flex-wrap items-center ">
        <img src="{% static 'images/img/under-constructions.svg' %}"
        alt="Figura de caixa de correio"
        class="h-48">

        <p class="font-sans text-gray-700 text-sm font-light text-center w-[32vh]">
          O link de redefinição de senha era inválido, possivelmente se expirou!
        </p>

        <a href="{% url 'passwd_reset_url' %}"
            class="font-sans inline-block align-baseline font-light text-sm text-green-700 hover:underline focus:text-green-700 px-4 py-2 m-2 cursor-pointer">

            solicite um novo link aqui!
        </a>
      </div>
    {% else %}
        <h1 class="font-sans font-bold text-slate-900 pb-4">
            Altere sua senha
        </h1>

      {% if form %}
        <form method="post" action="{{ password_reset_from_key_url }}"
              class="password_reset flex flex-col gap-5">
          {% csrf_token %}


            <div>
              <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 text-sm font-bold pb-2">
                Nova senha
              </label>

              <div class="relative">
                <input type="password"
                      id="{{ form.password1.id_for_label }}"
                      name="{{ form.password1.name }}"
                      placeholder="Digite sua senha aqui!"
                      value="{{ form.password1.value|default_if_none:'' }}"
                      class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900"
                      tabindex="0">

                <img src="{% static 'images/icons/eye.svg' %}" alt="Icone em formato de olho representando ação de mostrar senha"
                    class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5 cursor-pointer" onclick="togglePassword('{{ form.password1.id_for_label }}', 'eyePassword1')"
                    tabindex="0" id="eyePassword1">
              </div>

              {% comment %} /List Erros {% endcomment %}
              {% if form.password1.errors %}
                <ul class="list-disc p-4">
                  {% for error in form.password1.errors %}
                    <li class="text-red-500" >{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

            </div>

            <div>
              <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 text-sm font-bold pb-2">
                Digite Novamente
              </label>

              <div class="relative">
                <input type="password"
                       id="{{ form.password2.id_for_label }}"
                       name="{{ form.password2.name }}"
                       placeholder="Digite sua senha aqui!"
                       value="{{ form.password2.value|default_if_none:'' }}"
                       class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900"
                       tabindex="0">

                <img src="{% static 'images/icons/eye.svg' %}" alt="Icone em formato de olho representando ação de mostrar senha"
                     class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5 cursor-pointer" onclick="togglePassword('{{ form.password2.id_for_label }}', 'eyePassword2')"
                     tabindex="0" id="eyePassword2">
              </div>

              {% comment %} /List Erros {% endcomment %}
              {% if form.password2.errors %}
                <ul class="list-disc p-2">
                  {% for error in form.password2.errors %}
                    <li class="text-red-500" >{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

          <button class="btn btn-primary font-sans bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded transition duration-300 ease-in-out"
                  type="submit">
            Mudar Senha
          </button>
        </form>
      {% else %}
        <p>{% translate "Your password is now changed." %}</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock login_content %}


{% block inline_javascript %}
<script>
  function togglePassword(fieldId, eyeId) {
    /**
    * Alterna a visibilidade de um campo de entrada de senha
    * e atualiza o ícone do botão de alternância de acordo.
    * fieldId => id do input de pasword
    * eyeId => id do icone de olho
    **/

    const passwordInput = document.getElementById(fieldId);
    const toggleButton = document.getElementById(eyeId);

    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);

    if (type === 'password') {
      toggleButton.src = '{% static "images/icons/eye.svg" %}';
      toggleButton.alt = 'Icone em formato de olho representando ação de mostrar senha';
    } else {
      toggleButton.src = '{% static "images/icons/eye_close.svg" %}';
      toggleButton.alt = 'Icone em formato de olho fechado representando ação de ocultar senha';
    }
  }
</script>
{% endblock inline_javascript %}
