{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}
  {% translate "Password Reset" %}
{% endblock title %}

{% block login_content %}
<div class="flex flex-col gap-10 w-full">

  <section>
    <h1 class="items-start font-sans font-bold text-slate-900 pb-4" >
      Esqueceu sua senha?
    </h1>

    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="w-[35vw] font-sans text-gray-700 text-lg font-light">
      Digite seu endereço de e-mail abaixo e enviaremos um e-mail permitindo que você redefina sua senha.
    </p>
  </section>


  <form method="post" action="{% url 'account_reset_password' %}"
        class="password_reset flex flex-col gap-10">
    {% csrf_token %}

    <div>
      <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2 pb-2">
        E-mail
      </label>

      <input type="email"
              name="{{ form.email.name }}"
              id="{{ form.email.id_for_label }}"
              value="{{ form.email.value|default_if_none:'' }}"
              placeholder="Digite seu email aqui"
              class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">

      {% comment %} /List Erros {% endcomment %}
      {% if form.email.errors %}
        <ul class="list-disc p-2">
          {% for error in form.email.errors %}
          <li class="text-red-500" >{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <button class="btn btn-primary font-sans bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded transition duration-300 ease-in-out"
            type="submit">
      Enviar E-mail
    </button>
</form>

  <p class="font-sans text-gray-700 text-sm font-light text-center">
    Caso tenha algum problema entre em contato com
    <a href="mailto:napne.pf@ifrn.edu.br " class="text-green-500 hover:underline">napne.pf@ifrn.edu.br</a>
  </p>

  <a href="{% url 'account_login' %}"
     class="text-center font-sans block align-baseline font-light text-sm text-green-700 hover:underline focus:text-green-700 px-4 py-2 m-2 cursor-pointer">

     Voltar para tela de login
  </a>
</div>

{% endblock login_content %}

