{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
{% endblock head_title %}
{% block inner %}
  <section>
    <h1 class="items-start font-sans font-bold text-slate-900 pb-4">{% translate "Verify Your E-mail Address" %}</h1>
    <p class="w-[35vw] font-sans text-gray-700 text-lg font-light">
      {% blocktranslate %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}
    </p>
    <a href="{% url 'account_login' %}"
       class="text-center font-sans block align-baseline font-light text-sm text-green-700 hover:underline focus:text-green-700 px-4 py-2 m-2 cursor-pointer">
      Voltar para tela de login
    </a>
  </section>
{% endblock inner %}
