{% extends "base.html" %}

{% load static i18n %}

{% block content %}
  <div class="w-full">
    {% include 'layouts/breadcrumbs.html' with breadcrumb_data=breadcrumb_data %}
    <h1 class="text-[32px] font-medium mb-[38px]">Editar Oferta</h1>
    <form action="{% url 'academics:edit_offer' offer.id %}" method="post">
      {% csrf_token %}
      <div class="mt-[24px]">
        <label for="subject" class="font-medium text-[18px]">Disciplina:</label>
        <div class="relative w-full cursor-pointer mt-[16px]">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="subject"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                  required>
            <option value="default" selected disabled>Selecione o tipo...</option>
            {% for subject in form.subject.field.queryset %}
              <option value="{{ subject.id }}"
                      {% if offer.subject == subject %}selected{% endif %}>{{ subject }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mt-[24px]">
        <label for="course" class="font-medium text-[18px]">Curso:</label>
        <div class="relative w-full cursor-pointer mt-[16px]">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="course"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                  required>
            <option value="default" selected disabled>Selecione o tipo...</option>
            {% for course in form.course.field.queryset %}<option value="{{ course.id }}"
            {% if offer.course == course %}selected{% endif %}>{{ course.name }} - {{ course.get_period_display }}</option>{% endfor %}
          </select>
        </div>
      </div>
      <div class="mt-[24px]">
        <label for="teacher" class="font-medium text-[18px]">Professor:</label>
        <div class="relative w-full cursor-pointer mt-[16px]">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="teacher"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                  required>
            <option value="default" selected disabled>Selecione o tipo...</option>
            {% for teacher in form.teacher.field.queryset %}
              <option value="{{ teacher.id }}"
                      {% if offer.teacher == teacher %}selected{% endif %}>{{ teacher }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="flex gap-8">
        <div class="mt-[24px] flex-1">
          <label for="status" class="font-medium text-[18px]">Situação:</label>
          <div class="relative w-full cursor-pointer mt-[16px]">
            <img class="absolute top-[12px] right-[10px]"
                 src="{% static 'images/icons/icon-updown-arrow.svg' %}"
                 width="24px"
                 height="24px" />
            <select name="status"
                    class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                    required>
              <option value="default" selected disabled>Selecione o tipo...</option>
              <option value="Aberta" {% if offer.status == "Aberta" %}selected{% endif %}>Aberto</option>
              <option value="Fechada" {% if offer.status == "Fechada" %}selected{% endif %}>Fechado</option>
            </select>
          </div>
        </div>
        <div class="mt-[24px] flex-1">
          <label for="year" class="font-medium text-[18px]">Ano referência:</label>
          <input type="number"
                 name="year"
                 min="1"
                 placeholder="Digite o ano..."
                 required
                 value="{{ offer.year }}"
                 class="outline-none placeholder:text-[18px] placeholder:text-slate-300 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px]" />
        </div>
      </div>
      <button class="text-[18px] py-[11px] px-[44px] border border-green-600 rounded-lg font-medium cursor-pointer mt-[56px]">
        Editar
      </button>
    </form>
  </div>
{% endblock content %}
