{% extends "layouts/base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}
{% load has_group %}
{% load search_option %}
{% load action_buttons %}
{% load register_and_import_buttons %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-courses-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text=title icon="images/icons/icon-courses-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  {% load_search_script %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <form>
      <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
        <img src="{% static 'images/icons/icon-search.svg' %}"
             alt=""
             width="18px"
             height="18px" />
        <input type="text"
               name="search"
               placeholder="Pesquisar..."
               class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50 placeholder:text-slate-500"
               value="{{ request.GET.search }}" />
      </div>
      <div class="flex gap-[8px] flex-wrap mb-[26px]">
        <div class="relative w-full max-w-xs cursor-pointer">
          {% search_option object_name='subject' query=filter.form.subject.field.queryset input_placeholder='Buscar disciplina' %}
        </div>
        <div class="relative min-w-[222px] max-w-xs cursor-pointer">
          {% search_option object_name='teachers' query=filter.form.teachers.field.queryset input_placeholder='Buscar Professores' %}
        </div>
        <div class="flex h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2 w-full max-w-xs">
          <input type="number"
                 name="year"
                 placeholder="Digite o ano..."
                 class="placeholder:text-slate-500 outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50"
                 value="{{ filter.form.year.value }}" />
        </div>
        <div class="relative cursor-pointer w-full max-w-xs">
          <img class="absolute top-[12px] right-[10px] pointer-events-none"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="semester"
                  class="cursor-pointer outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-500 appearance-none bg-neutral-50">
            <option value="default" selected disabled>Selecione o semestre...</option>
            {% for semester_value, semester_label in filter.form.fields.semester.choices %}
              <option value="{{ semester_value }}"
                      {% if filter.form.semester.value|stringformat:"s" == semester_value|stringformat:"s" or request.GET.semester|stringformat:"s" == semester_value|stringformat:"s" %} selected {% endif %}>
                {{ semester_label }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="relative min-w-[222px] max-w-xs cursor-pointer">
          {% search_option object_name='course' query=filter.form.course.field.queryset input_placeholder='Buscar curso...' %}
        </div>
        <div class="relative cursor-pointer w-full max-w-xs">
          <img class="absolute top-[12px] right-[10px] pointer-events-none"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="period"
                  class="cursor-pointer outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-500 appearance-none bg-neutral-50">
            <option value="default" selected disabled>Selecione o Turno...</option>
            {% for period_value, period_label in filter.form.fields.period.choices %}
              <option value="{{ period_value }}"
                      {% if request.GET.period == period_value %}selected{% endif %}>{{ period_label }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50 hover:scale-105 transition-all">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               alt=""
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
    <div class="flex mt-3 gap-[16px]">
      {% register_button text="Cadastrar Nova Oferta" link="academics:offer_create" %}
    </div>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="w-full text-slate-900 text-[18px] border-collapse">
        <thead class="[&_th]:text-left h-[91px]">
          <tr class="border-b border-slate-300">
            <th class="pl-[76px] pr-4">Nome da Disciplina</th>
            <th class="px-4">Curso</th>
            <th class="px-4">Professor(es)</th>
            <th class="px-4">Ano</th>
            <th class="px-4">Turno</th>
            <th class="px-4">Situação</th>
            <th colspan="3" style='text-align:center;' class="text-center pr-[30px]">
              <span>Ações</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr class="border-b border-slate-300 h-[97px]">
              <td class="pl-[76px] pr-4">{{ object.subject.name }}</td>
              <td class="px-4">{{ object.course.name }}</td>
              <td class="px-4 py-2">
                {% for teacher in object.teachers.all|slice:":3" %}
                  {{ teacher.name }}
                  {% if not forloop.last %}
                    ,
                    <br />
                  {% endif %}
                {% endfor %}
                {% if object.teachers.all|length > 3 %}...{% endif %}
              </td>
              <td class="px-4">{{ object.year }}.{{ object.semester }}</td>
              <td class="px-4">{{ object.course.get_period_display }}</td>
              <td class="px-4">{{ object.status }}</td>
              <td>
                {% action_buttons detail_view='academics:offer_detail' edit_view='academics:offer_update' model_name='Oferta' obj=object %}
              </td>
            </tr>
            {% if user|has_group:"Coordinator" %}
              {% include "components/_confirm_delete_modal.html" with title="Confirmar Exclusão de oferta" body_text="Tem certeza de que deseja excluir este item? Esta ação não pode ser desfeita." delete_url="academics:offer_delete" %}
            {% endif %}
          {% empty %}
            <tr>
              <td colspan="9" class="text-center py-4">Nenhuma oferta cadastrada.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "components/_table_pagination.html" %}
  </div>
{% endblock content %}
