{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-home-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Cursos" icon="images/icons/icon-courses-green.svg" url="academics:course_list" %}
  {% breadcrumb_item text="Criar Curso" icon="images/icons/icon-courses-green.svg" %}
{% endblock breadcrumb %}
{% block alerts %}
  <div class="fixed p-4 top-20 flex flex-col gap-4">{% include "layouts/alerts.html" %}</div>
{% endblock alerts %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">Criar Curso</h1>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <div class="flex items-center gap-[3%]">
        <div class="flex-1">
          <label for="{{ form.name.id_for_label }}" class="font-medium text-[18px]">Nome:</label>
          <input type="text"
                 name="name"
                 placeholder="Digite o nome do curso..."
                 class="outline-none placeholder:text-[18px] placeholder:text-slate-300 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px]"
                 value="{{ request.GET.name }}" />
        </div>
      </div>
      <div class="flex items-center gap-[3%] mt-[24px]">
        <div class="flex-1">
          <label for="period" class="font-medium text-[18px]">Turno:</label>
          <div class="relative w-full cursor-pointer mt-[16px]">
            <img class="absolute top-[12px] right-[10px]"
                 src="{% static 'images/icons/icon-updown-arrow.svg' %}"
                 width="24px"
                 height="24px" />
            <select name="period"
                    class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50">
              <option value="default" selected disabled>Selecione o turno...</option>
              {% for key, value in form.period.field.choices %}
                <option value="{{ key }}" {% if key == request.GET.period %}selected{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex-1">
          <label for="type" class="font-medium text-[18px]">Duração:</label>
          <div class="relative w-full cursor-pointer mt-[16px]">
            <img class="absolute top-[12px] right-[10px]"
                 src="{% static 'images/icons/icon-updown-arrow.svg' %}"
                 width="24px"
                 height="24px" />
            <select name="duration_type"
                    class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                    required>
              <option value="default" selected disabled>Selecione a duração...</option>
              {% for key, value in form.duration_type.field.choices %}
                <option value="{{ key }}" {% if key == request.GET.duration_type %}selected{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="flex items-center gap-[3%] mt-[24px]">
        <div class="flex-1">
          <label for="name" class="font-medium text-[18px]">Qtd. Periodos:</label>
          <input type="number"
                 name="number_of_periods"
                 min="1"
                 placeholder="Digite o nome do curso..."
                 required
                 class="outline-none placeholder:text-[18px] placeholder:text-slate-300 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px]" />
        </div>
        <div class="flex-1">
        <label for="type" class="font-medium text-[18px]">Tipo:</label>
        <div class="relative w-full cursor-pointer mt-[16px]">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="course_type"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                  required>
            <option value="default" selected disabled>Selecione o tipo...</option>
            {% for key, value in form.course_type.field.choices %}
                  <option value="{{ key }}"
                      {% if key == request.GET.course_type %}selected{% endif %}>
                      {{ value }}
                  </option>
              {% endfor %}
          </select>
        </div>
      </div>
      </div>
      <div>
        {% for subject in course.subjects %}<h1>{{ subject.name }}</h1>{% endfor %}
      </div>

      {% include "_save_back_buttons.html" with link_to_back='academics:course_list' %}
    </form>
  </div>
{% endblock content %}
