{% extends "layouts/base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-courses-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <div class="flex flex-col my-4">
      <p class="text-lg">Componentes</p>
      <div class="flex flex-wrap items-center gap-8 py-6">
        {% include "components/_dashboard_card.html" with link_to="academics:course_list" path_icon="images/icons/icon-courses-square.svg" text="Cursos" count=courses_counter %}
        {% include "components/_dashboard_card.html" with link_to="academics:subject_list" path_icon="images/icons/icon-subject.svg" text="Disciplinas" count=subjects_counter %}
        {% include "components/_dashboard_card.html" with path_icon="images/icons/icon-offer.svg" text="Ofertas" link_to="academics:offer_list" count=offers_counter %}
        {% include "components/_dashboard_card.html" with link_to="educational_plan:pei_list" path_icon="images/icons/icon-pei.svg" text="PEIs" count=peis_counter %}
        {% include "components/_dashboard_card.html" with link_to="academics:matrix_list" path_icon="images/icons/icon-subject.svg" text="Matrizes" count=matrix_counter %}
      </div>
      <p class="text-lg">Participantes</p>
      <div class="flex flex-wrap items-center gap-8 py-6">
        {% include "components/_dashboard_card.html" with link_to="people:teacher_list" path_icon="images/icons/icon-multiple-users-green.svg" text="Docentes" count=teachers_counter %}
        {% include "components/_dashboard_card.html" with link_to="people:student_list" path_icon="images/icons/icon-user-green.svg" text="Discentes" count=students_counter %}
      </div>
    </div>
  </div>
{% endblock content %}
