{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-courses-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <div class="flex flex-col my-4">
      <p class="font-semibold">Componentes</p>
      <div class="flex flex-wrap items-center gap-8 py-6">
        {% include "_dashboard_card.html" with link_to="academics:course_list" path_icon="images/icons/icon-courses-green.svg" text="Cursos" %}
        {% include "_dashboard_card.html" with link_to="academics:course_list" path_icon="images/icons/icon-courses-green.svg" text="Disciplinas" %}
        {% include "_dashboard_card.html" with path_icon="images/icons/icon-courses-green.svg" text="Ofertas" custom_class="offers-link" %}
        {% include "_dashboard_card.html" with link_to="academics:course_list" path_icon="images/icons/icon-courses-green.svg" text="PEIs" %}
      </div>
      <p class="font-semibold">Participantes</p>
      <div class="flex flex-wrap items-center gap-8 py-6">
        {% include "_dashboard_card.html" with link_to="people:teacher_list" path_icon="images/icons/icon-multiple-users-green.svg" text="Doscentes" %}
        {% include "_dashboard_card.html" with link_to="student_create" path_icon="images/icons/icon-register-student-green.svg" text="Alunos" %}
      </div>
    </div>
  </div>
  <script>
    {% comment %} Script para redirecionar as ofertas aplicando filtros de ano e semestre {% endcomment %}
    document.addEventListener('DOMContentLoaded', function() {
      function getCurrentYear() {
        return new Date().getFullYear();
      }

      function getCurrentSemester() {
        const month = new Date().getMonth() + 1;
        return month <= 6 ? '1' : '2';
      }

      const year = getCurrentYear();
      const semester = getCurrentSemester();

      const subjectId = "{{ subject.id }}";
      const link = document.querySelector(`.offers-link`);

      if (link) {
        link.href = `{% url 'academics:offers_list' %}?year=${year}&semester=${semester}`;
      }
    });
  </script>
{% endblock content %}
