{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-home-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Ofertas" icon="images/icons/icon-courses-green.svg" url="academics:offer_list" %}
  {% breadcrumb_item text="Detalhes da Oferta" icon="images/icons/highlighter-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">Oferta: {{ offer.subject.name }}</h1>
    {% comment %} Adicionar a oferta {% endcomment %}
    <form action="{% url 'academics:add_student_to_offer' offer.id %}"
          method="post">
      {% csrf_token %}
      <p class="text-[22px] uppercase font-medium">Incluir Discente:</p>
      <div class="flex gap-4 mt-[32px]">
        <div class="flex-1">
          <!-- Campo de Busca -->
          <input type="text"
                 id="studentSearch"
                 placeholder="Buscar discente..."
                 class="mb-3 px-3 py-2 border border-slate-300 rounded-lg w-full"
                 oninput="filterStudents()" />
          <!-- Lista de Seleção Múltipla -->
          <div class="hidden border border-slate-300 rounded-lg py-2 px-3 max-h-[150px] min-h-6 overflow-y-auto gap-6"
               id="studentList">
            {% for student in selector_students %}
              <div class="student-item flex flex-row-reverse justify-end items-center gap-3">
                <input id="{{ student.id }}"
                       type="checkbox"
                       class="hidden peer"
                       name="students"
                       value="{{ student.id }}" />
                <span class="text-[16px] student-name">{{ student.name }}</span>
                <label for="{{ student.id }}"
                       class="flex items-center cursor-pointer w-[20px] h-[20px] rounded-[5px] peer-checked:[&_img]:block bg-slate-300">
                  <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                       width="20px"
                       height="20px"
                       class="hidden"
                       alt="Checkmark" />
                </label>
              </div>
            {% endfor %}
          </div>
          <div id="noResultsMessage" class="text-center text-gray-500 mt-2 hidden">Nenhum discente encontrado.</div>
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[181px] h-[42px] bg-green-500 rounded-[6px] text-neutral-50 px-[35px]">
          <img src="{% static 'images/icons/icon-arrow.svg' %}"
               width="24px"
               height="24px" />
          <span>Incluir</span>
        </button>
      </div>
    </form>
    {% comment %} Filtros {% endcomment %}
    <form class="mt-[43px]">
      <p class="text-[22px] uppercase font-medium mb-[25px]">Discentes:</p>
      <div class="flex gap-[8px]">
        <div class="flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               alt=""
               width="18px"
               height="18px" />
          <input type="text"
                 name="search"
                 placeholder="Pesquisar discentes..."
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50"
                 value="{{ request.GET.search }}" />
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               alt=""
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
        <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
          <tr>
            <th class="pl-[76px]">Perfil</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matricula</th>
            <th colspan="3" style="text-align: center" class='pr-[30px]'>Ações</th>
          </tr>
        </thead>
        <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
          {% for object in object_list %}
            <tr>
              <td class="pl-[76px]">
                <div class="relative w-[67px] h-[67px] rounded-full overflow-hidden">
                  <img src="{{ object.student.image.url }}"
                       class="w-full h-full object-cover relative"
                       alt="Student Image" />
                </div>
              </td>
              <td>{{ object.student.name }}</td>
              <td>{{ object.student.email }}</td>
              <td>{{ object.student.registration }}</td>
              <td class="flex justify-center h-full gap-[30px] !mt-[32px] pr-[26px]">
                <a href="{% url 'people:profile' object.student.id %}">
                  <img src="{% static 'images/icons/icon-eye.svg' %}"
                       alt=""
                       width="24px"
                       height="24px"
                       class="cursor-pointer" />
                </a>
                <a href="{% url 'people:profile' object.student.id %}?tab=edit_student_data#tab">
                  <img src="{% static 'images/icons/icon-edit-element.svg' %}"
                       alt=""
                       width="24px"
                       height="24px"
                       class="cursor-pointer" />
                </a>
                <button class="hover:bg-slate-100 rounded-full"
                        type="button"
                        id="openModal{{ object.pk }}"
                        data-modal-id="confirmationModal{{ object.pk }}">
                  <img src="{% static 'images/icons/icon-remove-element.svg' %}"
                       alt=""
                       height="25px"
                       class="cursor-pointer" />
                </button>
              </td>
              {% url 'academics:remove_student_from_offer' offer.id object.student.id as full_delete_url %}
              {% include "_confirm_delete_modal.html" with title="Confirmar remoção de discente" body_text="Tem certeza de que deseja remover este discente? Esta ação não pode ser desfeita." full_delete_url=full_delete_url %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "_table_pagination.html" %}
    <div class="flex mt-[56px] gap-[16px]">
      <a href="{% url 'academics:offer_list' %}"
         class="mr-2 text-[18px] py-[11px] px-[44px] border border-orange-400 rounded-lg font-medium cursor-pointer hover:bg-orange-500 transition-colors duration-300">
        Voltar
      </a>
      <button type="button"
              id="openModal{{ object.pk }}"
              data-modal-id="confirmationModal{{ object.pk }}"
              class="text-[18px] py-[11px] px-[44px] border border-red-500 hover:bg-red-500 transition-colors duration-300rounded-lg font-medium cursor-pointer rounded-lg">
        Excluir Oferta
      </button>
    </div>
    {% url 'academics:offer_delete' offer.id as full_delete_url_page %}
    {% include "_confirm_delete_modal.html" with title="Confirmar Exclusão de oferta" body_text="Tem certeza de que deseja excluir esta oferta? Esta ação não pode ser desfeita." full_delete_url=full_delete_url_page %}
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script>
    function filterStudents() {
      const searchValue = document.getElementById("studentSearch").value.toLowerCase();
      const students = document.querySelectorAll(".student-item");
      let hasResults = false;

      students.forEach(student => {
        const studentName = student.querySelector(".student-name").textContent.toLowerCase();
        if (studentName.includes(searchValue)) {
          student.style.display = "flex"; // Mostra o item
          hasResults = true;
        } else {
          student.style.display = "none"; // Oculta o item
        }
      });

      // Exibe a mensagem de "Nenhum resultado encontrado" caso não tenha resultados
      document.getElementById("noResultsMessage").style.display = hasResults ? "none" : "block";
      document.getElementById("studentList").style.display = searchValue && hasResults ? "block" : "none";
    }
  </script>
{% endblock inline_javascript %}
