{% load static i18n %}
{% load action_buttons %}
{% load has_group %}

<div>
  <form method="GET">
    <div class="flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
      <img src="{% static 'images/icons/icon-search.svg' %}"
           alt=""
           width="18px"
           height="18px" />
      <input type="text"
             name="search"
             placeholder="Pesquisar..."
             class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50 placeholder:text-slate-500"
             value="{{ request.GET.search }}" />
    </div>
    <div class="mt-[35px] flex gap-[19px]">
      <div class="relative w-[322px] cursor-pointer">
        <img class="absolute top-[12px] right-[10px]"
             src="{% static 'images/icons/icon-updown-arrow.svg' %}"
             width="24px"
             height="24px" />
        <select name="teacher"
                class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-500 appearance-none bg-neutral-50">
          <option value="default" selected disabled>Selecione o professor...</option>
          {% for teacher in selector_teachers %}
            <option value="{{ teacher.id }}"
                    {% if request.GET.teacher == teacher.id|stringformat:"s" %}selected{% endif %}>
              {{ teacher.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="relative w-[322px] cursor-pointer">
        <img class="absolute top-[12px] right-[10px]"
             src="{% static 'images/icons/icon-updown-arrow.svg' %}"
             width="24px"
             height="24px" />
        <select name="period"
                class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-500 appearance-none bg-neutral-50">
          <option value="default" selected disabled>Selecione o turno...</option>
          <option value="MORNING"
                  {% if request.GET.period == 'MORNING' %}selected{% endif %}>Matutino</option>
          <option value="AFTERNOON"
                  {% if request.GET.period == 'AFTERNOON' %}selected{% endif %}>Vespertino</option>
          <option value="NIGHT"
                  {% if request.GET.period == 'NIGHT' %}selected{% endif %}>Noturno</option>
        </select>
      </div>
      <div class="relative w-[322px] cursor-pointer">
        <img class="absolute top-[12px] right-[10px]"
             src="{% static 'images/icons/icon-updown-arrow.svg' %}"
             width="24px"
             height="24px" />
        <select name="status"
                class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-500 appearance-none bg-neutral-50">
          <option value="default" selected disabled>Selecione a situação...</option>
          <option value="NOT_START"
                  {% if request.GET.status == 'NOT_START' %}selected{% endif %}>Não iniciado</option>
          <option value="IN_PROGRESS"
                  {% if request.GET.status == 'IN_PROGRESS' %}selected{% endif %}>Em andamento</option>
          <option value="FEEDBACK"
                  {% if request.GET.status == 'FEEDBACK' %}selected{% endif %}>Com Parecer</option>
          <option value="COMPLETED"
                  {% if request.GET.status == 'COMPLETED' %}selected{% endif %}>Finalizado</option>
        </select>
      </div>
      <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
        <img src="{% static 'images/icons/icon-filter.svg' %}"
             alt=""
             width="24px"
             height="24px" />
        <span>Filtrar</span>
      </button>
    </div>
  </form>
</div>
<div id="peiTab" class="mt-[36px] tab w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
  <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
    <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
      <tr>
        <th class="pl-[76px]">PEIs</th>
        <th>Professor</th>
        <th>Situação</th>
        <th style="text-align: center" class='pr-[30px]'>Ações</th>
      </tr>
    </thead>
    <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
      {% for pei in student_peis %}
        <tr>
          <td class="pl-[76px]">
            {{ pei.enrollment.offer.subject }}
            <br />
            <span class="text-sm text-slate-600/50">{{ pei.enrollment.student.course.name }}</span>
          </td>
          <td>{{ pei.responsible_teacher }}</td>
          <td>
            {% if pei.status == 'NOT_START' %}
              <div class="bg-red-300 text-red-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-red-700">
                PEI Não iniciado
              </div>
            {% elif pei.status == 'IN_PROGRESS' %}
              <div class="bg-amber-300 text-amber-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-amber-700">
                PEI em andamento
              </div>
            {% elif pei.status == 'FEEDBACK' %}
              <div class="bg-blue-300 text-blue-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-blue-700">
                PEI Preenchido
              </div>
            {% elif pei.status == 'COMPLETED' %}
              <div class="bg-green-300 text-green-700 rounded-full h-[41px] w-max px-[15px] flex items-center justify-center border border-green-700">
                PEI Finalizado
              </div>
            {% endif %}
          </td>
          <td>
            <span class="flex justify-center items-center h-[97px] relative gap-4 pr-[26px]">
              {% url 'educational_plan:pei_detail' pei.id  as detail_url%}

              {%action_item default_icon='images/icons/eye-action-icon.svg' hover_icon='images/icons/eye-action-hover-icon.svg' message="Visualizar Pei" border_class='border-[#deedfe]' hover_class='hover:bg-[#2462eb]' link=detail_url %}
              
              {% if pei.responsible_teacher.user == request.user %}

              {% url 'educational_plan:pei_update' pei.id as edit_url %}

              {%action_item default_icon='images/icons/edit-icon.svg' hover_icon='images/icons/edit-hover-icon.svg' message="Editar Pei"  border_class='border-[#f4e7d9]' hover_class='hover:bg-[#ee8e5f]' link=edit_url %}

              {%endif%}
              {% comment %} <button type="button" id="openModal{{ pei.id }}" data-modal-id="confirmationModal{{ pei.id }}">
                <img src="{% static 'images/icons/icon-remove-element.svg' %}" alt="" height="24px" class="cursor-pointer" />
              </button> {% endcomment %}
            </span>
          </td>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="offerTab" class="mt-[36px] tab w-full h-max overflow-x-auto border border-slate-300 rounded-lg hidden">
  <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
    <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
      <tr>
        <th class="pl-[76px]">Disciplina</th>
        <th>Professor</th>
        <!--<th>Situação</th>-->
        <th style="text-align: center" class='pr-[30px]'>Ações</th>
      </tr>
    </thead>
    <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
      {% for offer in student_offers%}
        <tr>
          <td class="pl-[76px]">
            {{ offer.subject }}
            <br />
          </td>
          <td>
            {%for teacher in offer.teachers.all %}
              {{teacher}}
            {%endfor%}
          </td>
          <td>
            <span class="flex justify-center items-center h-[97px] relative gap-4 pr-[26px]">
              {% url 'academics:offer_detail' offer.id  as detail_url%}

              {%action_item default_icon='images/icons/eye-action-icon.svg' hover_icon='images/icons/eye-action-hover-icon.svg' message="Visualizar Oferta" border_class='border-[#deedfe]' hover_class='hover:bg-[#2462eb]' link=detail_url %}
              
              {%if request.user|has_group:'Coordinator'%}
              {% url 'academics:offer_update' offer.id as edit_url %}

              {%action_item default_icon='images/icons/edit-icon.svg' hover_icon='images/icons/edit-hover-icon.svg' message="Editar Oferta"  border_class='border-[#f4e7d9]' hover_class='hover:bg-[#ee8e5f]' link=edit_url %}

              {%endif%}

              {% comment %} <button type="button" id="openModal{{ pei.id }}" data-modal-id="confirmationModal{{ pei.id }}">
                <img src="{% static 'images/icons/icon-remove-element.svg' %}" alt="" height="24px" class="cursor-pointer" />
              </button> {% endcomment %}
            </span>
          </td>
          {%empty%}
            {%if student.has_offers %}
            <tr>
              <td colspan="3" class="text-center">Nenhuma Oferta Sua relacionada a esse Discente.</td>
            </tr>
            {%else%}
               <tr>
              <td colspan="3" class="text-center">Nenhuma Oferta Para esse Discente.</td>
            </tr>
            {%endif%}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="mt-[50px] mb-[26px] w-full flex items-center justify-between text-[14px]">
    <span class="font-semibold">Página {{ student_peis.number }} de {{ student_peis.paginator.num_pages }}</span>
  <div class="flex w-[250px] justify-around">
    <button onclick="showTabById('peiTab','tab')" id="buttonPeiTab" class="buttonTab w-[110px] h-[44px] flex justify-center items-center font-medium text-white border bg-green-500 border-green-500 rounded-lg">
      Peis
    </button>
    <button onclick="showTabById('offerTab','tab')" id="buttonOfferTab" class="buttonTab w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-500 border border-slate-400 rounded-lg">
      Ofertas
    </button>
  </div>
    <div class="flex gap-[36px]">
      {% if student_peis.has_previous %}
        <a href="?{% if request.GET.course %}course={{ request.GET.course }}&{% endif %}{% if request.GET.teacher %}teacher={{ request.GET.teacher }}&{% endif %}{% if request.GET.period %}period={{ request.GET.period }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ student_peis.previous_page_number }}">
          <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-500 border border-slate-400 rounded-lg">
            Anterior
          </div>
        </a>
      {% endif %}
      {% if student_peis.has_next %}
        <a href="?{% if request.GET.course %}course={{ request.GET.course }}&{% endif %}{% if request.GET.teacher %}teacher={{ request.GET.teacher }}&{% endif %}{% if request.GET.period %}period={{ request.GET.period }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ student_peis.next_page_number }}">
          <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-500 border border-slate-400 rounded-lg">
            Próximo
          </div>
        </a>
      {% endif %}
    </div>
  </div>

{%block inline_javascript%}
<script>
  function showTabById(tabId,tabClass){
    const tabItems = Array.from(document.getElementsByClassName(tabClass))

    tabItems.forEach(element=>{
      if(element.id.toLowerCase() == tabId.toLowerCase()){
        element.classList.add('block')
        element.classList.remove('hidden')
      }else{
        element.classList.add('hidden')
        element.classList.remove('block')
      }
    })

    tabSelectEfect(tabId)
  }

  function tabSelectEfect(tabId){
    const buttonsTab = Array.from(document.getElementsByClassName('buttonTab'))
    const buttonSelectId = `button${tabId}`

    buttonsTab.forEach(element=>{
      if(element.id.toLowerCase() == buttonSelectId.toLowerCase()){
        element.classList.add('bg-green-500','text-white','border-green-500')
        element.classList.remove('text-slate-500','border-slate-400')
      }else{
        element.classList.remove('bg-green-500','text-white','border-green-500')
        element.classList.add('text-slate-500','border-slate-400')
      }
    })
  }

  
  
</script>
{%endblock inline_javascript%}