{% load static i18n %}

<div class="flex gap-[5%]">
  <div class="flex flex-col gap-[16px] text-[18px] text-slate-400 w-full max-w-[218px]">
    {% for i in "x"|rjust:student.course.number_of_periods %}
      <a href="{% url 'people:profile' student.id %}?tab=grades&selectedPeriod={{ forloop.counter }}"
         class="p-[10px] rounded-lg cursor-pointer hover:bg-green-500 hover:text-white transition duration-300 ease-in-out {% if request.GET.selectedPeriod == forloop.counter|slugify or forloop.first and request.GET.selectedPeriod is null %} bg-green-500 text-slate-50{% endif %}">
        {{ forloop.counter }}°
        {% if student.course.duration_type == "SEMESTER" %}
          semestre
        {% else %}
          ano
        {% endif %}
      </a>
    {% endfor %}
  </div>
  {% if student_notes %}
    <div class="flex-1">
      <div class="border border-slate-300 rounded-lg px-[20px] py-[40px]">
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </div>
      <div class="mt-[36px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
        <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
          <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
            <tr>
              <th class="pl-[76px]">Disciplina</th>
              <th>1° Bimestre</th>
              <th>2° Bimestre</th>
              {% if student.course.duration_type != "SEMESTER" %}
                <th>3° Bimestre</th>
                <th>4° Bimestre</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
            {% for subject_grades in student_notes %}
              <tr>
                <td class="pl-[76px]">{{ subject_grades.offer.subject.name }}</td>
                <td>
                  {% if subject_grades.grade1 is not null %}
                    {{ subject_grades.grade1 }}
                  {% else %}
                    ---
                  {% endif %}
                </td>
                <td>
                  {% if subject_grades.grade2 is not null %}
                    {{ subject_grades.grade2 }}
                  {% else %}
                    ---
                  {% endif %}
                </td>
                {% if student.course.duration_type != "SEMESTER" %}
                  <td>
                    {% if subject_grades.grade3 is not null %}
                      {{ subject_grades.grade3 }}
                    {% else %}
                      ---
                    {% endif %}
                  </td>
                  <td>
                    {% if subject_grades.grade4 is not null %}
                      {{ subject_grades.grade4 }}
                    {% else %}
                      ---
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <p>
      Não há notas registradas para este
      {% if student.course.duration_type == "SEMESTER" %}
        semestre
      {% else %}
        ano
      {% endif %}
      .
    </p>
  {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% comment %} Pre-commit can break this graph {% endcomment %}
<script>
  const ctx = document.getElementById('myChart');


  const jsonData = `
    [
      {% for subject_grades in student_notes %}
      {
        "label": "{{ subject_grades.offer.subject.name|escapejs }}",
        "data": [
          {% if subject_grades.grade1 %}{{ subject_grades.grade1|floatformat:2|slice:":-1" }}{% else %}0,0{% endif %},
          {% if subject_grades.grade2 %}{{ subject_grades.grade2|floatformat:2|slice:":-1" }}{% else %}0,0{% endif %},
          {% if student.course.duration_type != "SEMESTER" %}
            {% if subject_grades.grade3 %}{{ subject_grades.grade3|floatformat:2|slice:":-1" }}{% else %}0,0{% endif %},
            {% if subject_grades.grade4 %}{{ subject_grades.grade4|floatformat:2|slice:":-1" }}{% else %}0,0{% endif %}
          {% endif %}
        ],
        "borderWidth": 2,
        "tension": 0.2
      }
      {% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  `.trim();

  const data = JSON.parse(jsonData).map((grades) => {
    const fixedGrade = {
      ...grades,
      data: [
        ...grades.data
        .map((grade, i) => i % 2 == 0 ? grade : null)
        .filter((grade) => grade != null)
      ]
    }

    return fixedGrade;
  })

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        '1° Bimestre',
        '2° Bimestre', {
          %
          if student.course.duration_type != "SEMESTER" %
        }
        '3° Bimestre',
        '4° Bimestre' {
          % endif %
        }
      ],
      datasets: [...data]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
