{%load static%}

<span class="flex justify-center items-center h-full gap-4 pr-[26px]">
    <a class="p-2 rounded-[12px] border-[#deedfe] border-solid border-2 hover:bg-[#2462eb] group"
      href="{{detail_url}}">
      <img src="{% static 'images/icons/eye-action-icon.svg' %}"
          alt=""
          height="24px"
          class="cursor-pointer group-hover:hidden"/>

      <img src="{% static 'images/icons/eye-action-hover-icon.svg' %}"
          alt=""
          height="24px"
          class="cursor-pointer hidden group-hover:block"/>
    </a>
    <a class="hover:bg-[#ee8e5f] p-2 rounded-[12px] border-[#f4e7d9] border-solid border-2 group"
      href="{{edit_url}}">
      <img src="{% static 'images/icons/edit-icon.svg' %}"
        alt=""
        height="24px"
        class="cursor-pointer group-hover:hidden"/>
      <img src="{% static 'images/icons/edit-hover-icon.svg' %}"
        alt=""
        height="24px"
        class="cursor-pointer hidden group-hover:block"/>
    </a>
    <button class="hover:bg-[#e66c6e] p-2 rounded-[12px] border-[#fbebed] border-solid border-2 group"
            type="button"
            id="openModal{{ object.pk }}"
            data-modal-id="confirmationModal{{ object.pk }}">
      <img src="{% static 'images/icons/delete-icon.svg' %}"
          alt=""
          height="24px"
          class="cursor-pointer group-hover:hidden"/>
      <img src="{% static 'images/icons/delete-hover-icon.svg' %}"
          alt=""
          height="24px"
          class="cursor-pointer hidden group-hover:block"/>
    </button>
</span>