{% extends 'layouts/base.html' %}

{% load static i18n %}
{% load breadcrumb_item %}
{% load action_buttons %}
{% load register_and_import_buttons %}

{% block breadcrumb %}
  {% breadcrumb_item text='Home' icon='images/icons/icon-home-green.svg' first="true" url='home' %}
  {% breadcrumb_item text='Acadêmico' icon='images/icons/icon-courses-green.svg' url='academics:dashboard' %}
  {% breadcrumb_item text='Matrizes' icon='images/icons/icon-subject.svg' url='academics:matrix_list' %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <form class="w-full flex">
      <div class="mb-[26px] flex w-[45%] h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2 mr-[2.5%]">
        <img src="{% static 'images/icons/icon-search.svg' %}"
             alt=""
             width="18px"
             height="18px" />
        <input type="text"
               name="search"
               placeholder="Procurar matriz"
               class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50 placeholder:text-slate-500"
               value="{{ request.GET.search }}" />
      </div>
      <div class="mb-[26px] flex w-[45%] h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2 mx-[2.5%]">
        <input type="number" placeholder="Ano da matriz" name="year" min="0" value = {{ request.GET.year }} id="" class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50 placeholder:text-slate-500" />
      </div>
      <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50 hover:scale-105 transition-all">
        <img src="{% static 'images/icons/icon-filter.svg' %}"
             alt=""
             width="24px"
             height="24px" />
        <span>Filtrar</span>
      </button>
    </form>
    <div class="flex mt-3 gap-[16px]">{% register_button text="Cadastrar Matriz" link="academics:matrix_create" %}</div>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="w-full text-slate-900 text-[18px] border-collapse">
        <thead class="[&_th]:text-left h-[91px]">
          <tr class="border-b border-slate-300">
            <th class="pl-[76px] pr-4">Codigo</th>
            <th class="">Descrição da Matriz</th>
            <th class="px-4">
              <span class='text-center w-full block'>Ano da matriz</span>
            </th>
            <th style='text-align:center;'>Ativa</th>
            <th colspan="3" class="text-center pr-[30px]">
              <span class="m-auto block w-fit">Ações</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr class="border-b border-slate-300 h-[97px]">
              <td class="pl-[76px] pr-4 max-w-[50vw] overflow-x-hidden text-ellipsis text-nowrap">{{ object.code }}</td>
              <td class="max-w-[40vw] overflow-x-hidden text-ellipsis text-nowrap">{{ object.description }}</td>
              <td class="px-4 text-center">{{ object.year }}</td>
              <td class="px-4">
                {% if object.active %}
                  <img src="{% static 'images/icons/sync-updated-icon.svg' %}"
                       alt=''
                       width='30px'
                       height='30px'
                       class="m-auto" />
                {% else %}
                  <img src="{% static 'images/icons/not-sync-icon.svg' %}"
                       alt=''
                       width='30px'
                       height='30px'
                       class="m-auto" />
                {% endif %}
              </td>
              <td>
                {% action_buttons detail_view='academics:matrix_detail' edit_view='academics:matrix_edit' model_name='Matriz' object=object %}
              </td>
            </tr>
            {% include "components/_confirm_delete_modal.html" with title="Confirmar Exclusão da matriz" body_text="Tem certeza de que deseja excluir este item? Esta ação não pode ser desfeita." delete_url="academics:matrix_delete" %}
          {% empty %}
            <tr>
              <td colspan="9" class="text-center py-4">Nenhuma Matriz cadastrada.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "components/_table_pagination.html" %}
  </div>
{% endblock %}
