<div class="h-full border border-transparent border-l-slate-300 flex gap-10">
  <div class="flex flex-col gap-4">
    {% for i in "x"|rjust:student.course.number_of_periods %}
      <a href="{% url 'profile' student.id %}?tab=edit_student_data&sub_tab=edit_notes&selectedPeriod={{ forloop.counter }}">
        <li class="font-poppins rounded-lg py-2 px-1 {% if sub_active_tab == 'edit_personal_data' %} text-white bg-green-500 {% else %} text-slate-300 {% endif %} hover:bg-green-500 hover:text-white transition duration-300 ease-in-out list-none w-[218px] ml-[30px] p-[10px] rounded-lg cursor-pointer {% if request.GET.selectedPeriod == forloop.counter|slugify or forloop.first and request.GET.selectedPeriod is null %} bg-green-500 text-slate-50{% endif %}">
          {{ forloop.counter }}°
          {% if student.course.durationType == "SEMESTER" %}
            semestre
          {% else %}
            ano
          {% endif %}
        </li>
      </a>
    {% endfor %}
  </div>
  <div class="flex-1">
    <h2 class="uppercase font-semibold">Todas as disciplinas do semetre</h2>
    <div class="mt-[32px]">
      <p class="font-light text-slate-900">Matemática</p>
      <div class="flex gap-[40px]">
        <div class="text-slate-400 mt-[20px] flex-1">
          <label class="block">1° Bimestre</label>
          <input type="number"
                 class="mt-[16px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                 value="100" />
        </div>
        <div class="text-slate-400 mt-[20px] flex-1">
          <label class="block">2° Bimestre</label>
          <input type="number"
                 class="mt-[16px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                 value="100" />
        </div>
        <div class="text-slate-400 mt-[20px] flex-1">
          <label class="block">3° Bimestre</label>
          <input type="number"
                 class="mt-[16px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                 value="100" />
        </div>
        <div class="text-slate-400 mt-[20px] flex-1">
          <label class="block">4° Bimestre</label>
          <input type="number"
                 class="mt-[16px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                 value="100" />
        </div>
      </div>
    </div>
    <button class="border border-slate-300 rounded-lg h-[53px] mt-[60px] w-full text-slate-300 hover:bg-green-500 hover:text-white transition-all">
      Atualizar Dados
    </button>
  </div>
</div>
