{% load static i18n %}

<div>
  <form id="updateForm"
        method="post"
        action="{% url 'edit_personal_data' student.id %}"
        enctype="multipart/form-data"
        class="space-y-10">
    {% csrf_token %}
    <div class="flex flex-col items-center">
      <img id="profileImage"
           src="{{ student.image.url }}"
           alt="imagem de perfil"
           class="h-40 w-40 rounded-full bg-transparent border object-cover text-transparent" />
      <label for="{{ form.image.id_for_label }}"
             class="font-sans font-medium text-lg text-ls block mb-4">Foto do aluno</label>
      <input type="file"
             id="{{ form.image.id_for_label }}"
             name="{{ form.image.name }}"
             accept="image/png, image/jpeg"
             onchange="previewImage(event)"
             class="font-sans text-slate-900 block file:cursor-pointer text-sm file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-green-200 file:text-green-700 hover:file:bg-green-300" />
      {% comment %} /List Erros {% endcomment %}
      {% if form.image.errors %}
        <ul class="list-disc p-2">
          {% for error in form.image.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="flex flex-row mb-4 space-x-4">
      <div class="flex-1">
        <label for="{{ form.name.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Nome</label>
        <input type="text"
               id="{{ form.name.id_for_label }}"
               name="{{ form.name.name }}"
               value="{{ form.name.value|default_if_none:'' }}"
               placeholder="Jõao doria da silva"
               class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500" />
        {% if form.name.errors %}
          <ul class="list-disc p-2">
            {% for error in form.name.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="flex-1">
        <label for="{{ form.email.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">E-mail</label>
        <input type="email"
               id="{{ form.email.id_for_label }}"
               name="{{ form.email.name }}"
               value="{{ form.email.value|default_if_none:'' }}"
               placeholder="Ex: exemplo@gmail.com"
               class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500" />
        {% if form.email.errors %}
          <ul class="list-disc p-2">
            {% for error in form.email.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="flex flex-row mb-4 space-x-4">
      <div class="flex-1">
        <label for="{{ form.course.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Curso</label>
        <div class="relative">
          <select id="{{ form.course.id_for_label }}"
                  name="{{ form.course.name }}"
                  class="bg-transparent font-sans appearance-none border rounded-lg h-11 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">
            {% for value, label in form.course.field.choices %}
              <option value="{{ value }}"
                      {% if value|stringformat:"s" == form.course.value|stringformat:"s" %}selected{% endif %}>
                {{ label }}
              </option>
            {% endfor %}
          </select>
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
        </div>
        {% if form.course.errors %}
          <ul class="list-disc p-2">
            {% for error in form.course.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="flex-1">
        <label for="{{ form.registration.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Matrícula</label>
        <input type="number"
               id="{{ form.registration.id_for_label }}"
               name="{{ form.registration.name }}"
               value="{{ form.registration.value|default_if_none:'' }}"
               placeholder="Ex: 2022019505020"
               min="1"
               class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500" />
      </div>
      {% if form.registration.errors %}
        <ul class="list-disc p-2">
          {% for error in form.registration.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="mb-4 max-w-[49%]">
      <label for="{{ form.reference_period.id_for_label }}"
             class="font-sans font-medium text-lg text-ls block mb-4">
        Período de Referência (Periodo atual do aluno)
      </label>
      <input type="number"
             id="{{ form.reference_period.id_for_label }}"
             name="{{ form.reference_period.name }}"
             value="{{ form.reference_period.value|default_if_none:'' }}"
             placeholder="Ex: 4"
             min="1"
             class="bg-transparent font-sans appearance-none border rounded-lg w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500" />
      {% if form.reference_period.errors %}
        <ul class="list-disc p-2">
          {% for error in form.reference_period.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="mb-4">
      <label for="{{ form.sectors.id_for_label }}"
             class="font-sans font-medium text-lg text-ls block mb-4">Equipe multe proficional responsavel</label>
      <p class="my-4 font-sans text-slate-400">
        Selecione uma ou mais opções pressionando 'Ctrl' (ou 'Cmd' no Mac) e clicando nos itens desejados. Você também pode arrastar o mouse para selecionar um grupo de opções consecutivas.
      </p>
      <select id="{{ form.sectors.id_for_label }}"
              name="{{ form.sectors.name }}"
              multiple
              class="indeterminate:bg-gray-300 bg-transparent font-sans appearance-none border rounded-lg h-[20vh] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">
        {% for value, label in form.sectors.field.choices %}
          <option class="hover:bg-green-100"
                  value="{{ value }}"
                  {% if value in form.sectors.value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
      {% if form.sectors.errors %}
        <ul class="list-disc p-2">
          {% for error in form.sectors.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="mb-4 col-span-2">
      <label for="{{ form.educational_necessities.id_for_label }}"
             class="font-sans font-medium text-lg text-ls block mb-4">Necessidades especiais especificas</label>
      <p class="my-4 font-sans text-slate-400">
        Selecione uma ou mais opções pressionando 'Ctrl' (ou 'Cmd' no Mac) e clicando nos itens desejados. Você também pode arrastar o mouse para selecionar um grupo de opções consecutivas.
      </p>
      <select id="{{ form.educational_necessities.id_for_label }}"
              name="{{ form.educational_necessities.name }}"
              multiple
              class="indeterminate:bg-gray-300 bg-transparent font-sans appearance-none border rounded-lg h-[20vh] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">
        {% for value, label in form.educational_necessities.field.choices %}
          <option class="hover:bg-green-100"
                  value="{{ value }}"
                  {% if value in form.educational_necessities.value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
      {% if form.educational_necessities.errors %}
        <ul class="list-disc p-2">
          {% for error in form.educational_necessities.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
    <button id="submit-button"
            type="submit"
            class="w-full font-sans bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded transition duration-300 ease-in-out">
      Atualizar Dados
    </button>
  </form>
</div>
