{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-courses-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Alunos" icon="images/icons/icon-user-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <form>
      <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
        <img src="{% static 'images/icons/icon-search.svg' %}"
             alt=""
             width="18px"
             height="18px" />
        <input type="text"
               name="search"
               placeholder="Pesquisar..."
               class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50"
               value="{{ request.GET.search }}" />
      </div>
      <div class="flex gap-[8px] flex-wrap">
        <div class="flex-1">
          <!-- Campo de Busca -->
          <input type="text"
                 id="courseSearch"
                 placeholder="Buscar por curso..."
                 class="mb-3 px-3 py-2 border border-slate-300 rounded-lg w-full"
                 oninput="filterCourses()"
                 value="{{ selected_course_name|default:'' }}" />
        
          <!-- Lista de Seleção -->
          <div class="border border-slate-300 rounded-lg py-2 px-3 max-h-[150px] min-h-[48px] overflow-y-auto hidden"
               id="courseList">
            {% for course in filter.form.course.field.queryset %}
              <div class="course-item flex items-center gap-3">
                <input id="course_{{ course.id }}"
                       type="radio"
                       class="hidden peer"
                       name="course"
                       value="{{ course.id }}"
                       {% if course.id|stringformat:"s" == request.GET.course %}checked{% endif %} />
                <label for="course_{{ course.id }}"
                       class="flex items-center cursor-pointer w-full text-[16px] rounded-[5px] peer-checked:bg-green-100"
                       onclick="selectCourse('{{ course.name }}')">
                  {{ course.name }}
                </label>
              </div>
            {% endfor %}
          </div>
        
          <!-- Mensagem de "Nenhum resultado encontrado" -->
          <div id="noCourseResults" class="text-center text-gray-500 mt-2 hidden">Nenhum curso encontrado.</div>
        </div>



        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               alt=""
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
    <div class="flex mt-[56px] gap-[16px]">
      <a href="{% url 'people:student_create' %}"
         class=" text-[18px] py-[11px] px-[44px] border border-green-600 rounded-lg font-medium cursor-pointer">
        Cadastrar Novo Discente
      </a>
      <a href="{% url 'people:student_import' %}"
         class="text-[18px] py-[11px] px-[44px] border border-blue-600 rounded-lg font-medium cursor-pointer hover:bg-blue-500 hover:text-white transition-colors duration-300 mt-[2px]">
        Importar Discentes
      </a>
    </div>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
        <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
          <tr>
            <th class="pl-[76px]">Perfil</th>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Curso</th>
            <th style="text-align: center" class='pr-[30px]'>Ações</th>
          </tr>
        </thead>
        <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
          {% for object in object_list %}
            <tr>
              <td class="pl-[76px]">
                <img src="{{ object.image.url }}"
                     alt=""
                     class="rounded-full w-16 h-16 aspect-square" />
              </td>
              <td>{{ object.registration }}</td>
              <td>{{ object.name }}</td>
              <td>{{ object.course.name }}</td>
              <td>
                <span class="flex justify-center items-center h-full gap-4 pr-[26px]">
                  <a href="{% url 'people:profile' object.id %}"
                     class="hover:bg-slate-100 p-2 rounded-full">
                    <img src="{% static 'images/icons/icon-eye.svg' %}"
                         alt=""
                         width="24px"
                         height="24px"
                         class="cursor-pointer" />
                  </a>
                  <a href="/people/profile/{{ object.id }}?tab=edit_student_data#tab"
                     class="hover:bg-slate-100 p-2 rounded-full">
                    <img src="{% static 'images/icons/icon-edit-element.svg' %}"
                         alt=""
                         width="24px"
                         height="24px"
                         class="cursor-pointer" />
                  </a>
                  <button type="button"
                          id="openModal{{ object.pk }}"
                          data-modal-id="confirmationModal{{ object.pk }}"
                          class="hover:bg-slate-100 p-2 rounded-full">
                    <img src="{% static 'images/icons/icon-remove-element.svg' %}"
                         alt=""
                         height="24px"
                         class="cursor-pointer" />
                  </button>
                </span>
              </td>
              {% include "_confirm_delete_modal.html" with title="Confirmar Exclusão do aluno" body_text="Tem certeza de que deseja excluir este item? Esta ação não pode ser desfeita." delete_url="people:student_delete" %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center">Nenhum aluno cadastrado.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "_table_pagination.html" %}
  </div>
{% endblock content %}
{% block inline_javascript %}
<script>
  // Recupera o ID do curso da URL e preenche o campo de busca com o nome
  const urlParams = new URLSearchParams(window.location.search);
  const selectedCourseId = urlParams.get('course');
  
  if (selectedCourseId) {
    const selectedCourseLabel = document.querySelector(`label[for="course_${selectedCourseId}"]`);
    if (selectedCourseLabel) {
      courseSearch.value = selectedCourseLabel.textContent.trim();  // Preenche o campo de busca
    }
  }


  function filterCourses() {
    const searchValue = document.getElementById("courseSearch").value.toLowerCase();
    const courseList = document.getElementById("courseList");
    const courses = document.querySelectorAll(".course-item");
    let hasResults = false;

    courses.forEach(course => {
      const courseName = course.querySelector("label").textContent.toLowerCase();
      if (courseName.includes(searchValue)) {
        course.style.display = "flex"; // Mostra o item
        hasResults = true;
      } else {
        course.style.display = "none"; // Oculta o item
      }
    });

    // Exibe ou oculta a lista e mensagem com base nos resultados
    courseList.style.display = searchValue && hasResults ? "block" : "none";
    document.getElementById("noCourseResults").style.display = searchValue && !hasResults ? "block" : "none";
  }

  function selectCourse(courseName) {
    const searchInput = document.getElementById("courseSearch");
    const courseList = document.getElementById("courseList");

    // Preenche o campo de busca com o nome do curso selecionado
    searchInput.value = courseName;

    // Esconde a lista de sugestões
    courseList.style.display = "none";
  }
</script>
{% endblock inline_javascript %}