{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Usuários" icon="images/icons/icon-courses-green.svg" url="people:people_invite" %}

{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">Usuários</h1>
    <div>
      <p class="text-[18px] font-semibold mb-[24px]">CONVIDAR USUÁRIO:</p>

      <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="flex items-center gap-[3%]">
          <label for="{{ form.email.id_for_label }}" class="font-medium text-[18px]">Email:</label>
          <input type="email"
                  name="{{ form.email.name }}"
                  id="{{ form.email.id_for_label }}"
                  placeholder="Digite o email do usuário ..."
                  class="outline-none placeholder:text-[18px] placeholder:text-slate-300 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px]"
                  value="{{ form.email.value|default_if_none:'' }}" />
        </div>
        <div class="flex items-center justify-start gap-4 my-4">
          <label for="{{ form.group.id_for_label }}" class="font-medium text-[18px]">Tipo:</label>
          <div class="relative w-[322px] cursor-pointer px-[10px]">
            <img class="absolute top-[12px] right-[10px]"
                  src="{% static 'images/icons/icon-updown-arrow.svg' %}"
                  width="24px"
                  height="24px" />
            <select name="{{ form.group.name }}"
                    id="{{ form.group.id_for_label }}"
                    class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50">
              <option value="default" selected disabled>Selecione o tipo ...</option>
              {% for key, value in form.group.field.choices %}
                <option value="{{ key }}" >{% translate value %}</option>
              {% endfor %}
            </select>
          </div>


          <label for="{{ form.sector.id_for_label }}"
                  class="font-medium text-[18px]">Setor:</label>
          <div class="relative w-[322px] cursor-pointer">
            <img class="absolute top-[12px] right-[10px]"
                  src="{% static 'images/icons/icon-updown-arrow.svg' %}"
                  width="24px"
                  height="24px" />
            <select name="{{ form.sector.name }}"
                    id="{{ form.sector.id_for_label }}"
                    class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
                    required>
              <option value="default" selected disabled>Selecione a duração...</option>
              {% for key, value in form.sector.field.choices %}
                <option value="{{ key }}"
                        {% if key == form.sector.value %}selected{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <button class="flex items-center justify-center gap-[10px] min-w-[102px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
            <img src="{% static 'images/icons/icon-filter.svg' %}"
                 alt=""
                 width="24px"
                 height="24px" />
            <span>Enviar</span>
          </button>
        </div>

      </form>

      <p class="text-[18px] font-semibold m-[24px]">Lista de Usuários:</p>
    </div>
  </div>
{% endblock content %}
