{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Docentes" icon="images/icons/icon-register-student-green.svg" url="people:teacher_list" %}
{% endblock breadcrumb %}

{% block content %}
  <div class="w-full">


    <h1 class="text-[32px] font-medium mb-[38px]">{{title}}</h1>
    <form mathod="get">
      <div class="flex gap-[8px]">
        <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               width="18px"
               height="18px" />
          <input type="text"
                 name="name"
                 id="id_name"
                 placeholder="Nome"
                 value="{{ request.GET.name }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
        <div class="mb-[26px] flex w-1/4 h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               width="18px"
               height="18px" />
          <input type="text"
                 name="code"
                 id="id_code"
                 placeholder="Matrícula"
                value="{{ request.GET.code }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
      </div>
      <div class="flex gap-[8px]">
        <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               width="18px"
               height="18px" />
          <input type="text"
                 name="email"
                 id="email"
                 placeholder="Email"
                 value="{{ request.GET.email }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
        <div class="relative w-[322px] cursor-pointer">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px" height="24px" />
          <select name="campus"
                  id="campus"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50">
              <option value="" selected disabled>Selecione o campus...</option>
              {% for campus in filter.form.campus.field.queryset %}
                  <option value="{{ campus.id }}"
                          {% if campus.id|stringformat:"s" == request.GET.campus %}selected{% endif %}>
                      {{ campus.name }}
                  </option>
              {% endfor %}
          </select>
      </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
    <a href="{% url 'people:teacher_create' %}"
      class="text-[18px] py-[11px] px-[44px] border border-green-600 rounded-lg font-medium cursor-pointer hover:bg-green-500 hover:text-white transition-colors duration-300">
      Cadastrar Docente
    </a>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
        <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
          <tr>
            <th class="pl-[76px]">Nome</th>
            <th>Matrícula</th>
            <th>Email</th>
            <th>Campi</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
          {% for teacher in object_list %}
            <tr>
              <td class="pl-[76px]">{{ teacher.name }}</td>
              <td>{{ teacher.code }}</td>
              <td>{{ teacher.email }}</td>
              <td>{{ teacher.campus.abbreviation }}</td>

              <td class="min-w-[40px] !px-[0px]">
                <a href="{% url 'people:teacher_edit' teacher.pk %}">
                  <img src="{% static 'images/icons/icon-edit-element.svg' %}"
                       width="24px"
                       height="24px"
                       class="cursor-pointer" />
                </a>
              </td>
              <td class="min-w-[40px] !px-[0px]">
                <a href="{% url 'people:teacher_delete' teacher.pk %}"
                   onclick="return confirm('Tem certeza que deseja excluir o curso {{ course.name }}?')">
                  <img src="{% static 'images/icons/icon-remove-element.svg' %}"
                       width="24px"
                       height="24px"
                       class="cursor-pointer" />
                </a>
              </td>
              <td class="min-w-[40px] !px-[0px]">
                <a href="{% url 'people:teacher_detail' teacher.pk %}">
                  <img src="{% static 'images/icons/icon-eye.svg' %}"
                       width="24px"
                       height="24px"
                       class="cursor-pointer" />
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center">Nenhum docente cadastrado.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="mt-[50px] mb-[78px] w-full flex items-center justify-between text-[18px]">
      <span class="font-semibold">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
      <div class="flex gap-[36px]">
          {% if page_obj.has_previous %}
              <a href="{% url 'people:teacher_list' %}?{% if request.GET.period %}period={{ request.GET.period }}&{% endif %}{% if request.GET.type %}type={{ request.GET.type }}&{% endif %}page={{ page_obj.previous_page_number }}">
                  <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-400 border border-slate-400 rounded-lg">
                      Anterior
                  </div>
              </a>
          {% endif %}
          {% if page_obj.has_next %}
              <a href="{% url 'people:teacher_list' %}?{% if request.GET.period %}period={{ request.GET.period }}&{% endif %}{% if request.GET.type %}type={{ request.GET.type }}&{% endif %}page={{ page_obj.next_page_number }}">
                  <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-400 border border-slate-400 rounded-lg">
                      Próximo
                  </div>
              </a>
          {% endif %}
      </div>
  </div>

  </div>
{% endblock content %}
