{% extends "base.html" %} {% load static i18n %} {% block content %}

<div class="w-full">
  {% include '../../layouts/breadcrumbs.html' with breadcrumb_data=breadcrumb_data %}
  <h1 class="text-[32px] font-medium mb-[38px]">Cursos</h1>
  <form>
    <div
      class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2"
    >
      <img
        src="{% static 'images/icons/icon-search.svg' %}"
        width="18px"
        height="18px"
      />
      <input
        type="text"
        name="search"
        placeholder="Pesquisar..."
        class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50"
        value="{{request.GET.search}}"
      />
    </div>
    <div class="flex gap-[8px]">
      <div class="relative w-[322px] cursor-pointer">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="type"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
          required
        >
          <option value="default" selected disabled>
            Selecione o tipo...
          </option>
          {% for type in course_types %}
            <option value="{{ type }}" {% if request.GET.type == type %}selected{% endif %}>{{ type }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="relative w-[322px] cursor-pointer">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="period"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
        >
          <option value="default" selected disabled>
            Selecione o turno...
          </option>
          <option value="MORNING" {% if request.GET.period == 'MORNING' %}selected{% endif %}>Matutino</option>
          <option value="AFTERNOON" {% if request.GET.period == 'AFTERNOON' %}selected{% endif %}>Vespertino</option>
          <option value="NIGHT" {% if request.GET.period == 'NIGHT' %}selected{% endif %}>Noturno</option>

        </select>
      </div>

      <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
        <img
          src="{% static 'images/icons/icon-filter.svg' %}"
          width="24px"
          height="24px"
        />
        <span>Filtrar</span>
      </button>
    </div>
  </form>
  <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
    <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
      <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
        <tr>
          <th class="pl-[76px]">Nome do curso</th>
          <th>Matérias</th>
          <th>Turno</th>
          <th>Tipo</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
        {%for course in courses %}
          <tr>
            <td class="pl-[76px]">{{course.name}}</td>
            <td>{{course.num_subjects}}</td>
            <td>{{course.get_period_display}}</td>
            <td>{{course.course_type}}</td>
            <td class="min-w-[40px] !px-[0px]">
              <a href="{% url 'edit_course' course.id %}">
                <img
                  src="{% static 'images/icons/icon-edit-element.svg' %}"
                  width="24px"
                  height="24px"
                  class="cursor-pointer"
                />
              </a>
            </td>
            <td class="min-w-[40px] !px-[0px]">
              <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Tem certeza que deseja excluir o curso {{ course.name }}?')">
                <img
                  src="{% static 'images/icons/icon-remove-element.svg' %}"
                  width="24px"
                  height="24px"
                  class="cursor-pointer"
                />
              </a>
            </td>
            <td class="min-w-[40px] !px-[0px]">
              <a href="{% url 'subjects' course.id %}" >
                <img
                  src="{% static 'images/icons/icon-eye.svg' %}"
                  width="24px"
                  height="24px"
                  class="cursor-pointer"
                />
              </a>
            </td>
          </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>
  <div class="mt-[50px] mb-[78px] w-full flex items-center justify-between text-[18px]">
    <span class="font-semibold">Página {{ courses.number }} de {{ courses.paginator.num_pages }}</span>
    <div class="flex gap-[36px]">
      {% if courses.has_previous %}
        <a href="{% url 'courses' %}?{% if request.GET.period %}period={{ request.GET.period }}&{% endif %}{% if request.GET.type %}type={{ request.GET.type }}&{% endif %}page={{ courses.previous_page_number }}">
          <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-400 border border-slate-400 rounded-lg">Anterior</div>
        </a>
      {% endif %}

      {% if courses.has_next %}
        <a href="{% url 'courses' %}?{% if request.GET.period %}period={{ request.GET.period }}&{% endif %}{% if request.GET.type %}type={{ request.GET.type }}&{% endif %}page={{ courses.next_page_number }}">
          <div class="w-[110px] h-[44px] flex justify-center items-center font-medium text-slate-400 border border-slate-400 rounded-lg">Próximo</div>
        </a>
      {% endif %}
    </div>
  </div>
  <a href="{% url 'create_course' %}" class=" text-[18px] py-[11px] px-[44px] border border-green-600 rounded-lg font-medium cursor-pointer">
    Cadastrar Novo Curso
  </a>
</div>

{% endblock content %}
