{% extends "base.html" %} 
{% load static i18n %} 
{% block content %}

<div class="w-full">
  {% include '../../layouts/breadcrumbs.html' with breadcrumb_data=breadcrumb_data %}
  <h1 class="text-[32px] font-medium mb-[38px]">Editar Curso: {{ course.name }} - {{ course.get_period_display }}</h1>
  <form action="{% url 'edit_course' course.id %}" method="post" id="edit-form">
    {% csrf_token %}
    <div class="flex items-center gap-[3%]">
      <div class="flex-1">
        <label for="name" class="font-medium text-[18px]">Nome:</label>
        <input
          type="text"
          name="name"
          placeholder="Digite o nome do curso..."
          class="outline-none placeholder:text-[18px] placeholder:text-slate-300 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px]"
          value="{{ course.name }}"
        />
      </div>
      <div class="flex-1">
        <label for="period" class="font-medium text-[18px]">Turno:</label>
        <div class="relative w-full cursor-pointer mt-[16px]">
          <img
            class="absolute top-[12px] right-[10px]"
            src="{% static 'images/icons/icon-updown-arrow.svg' %}"
            width="24px"
            height="24px"
          />
          <select
            name="period"
            class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
          >
            <option value="default" disabled>Selecione o turno...</option>
            <option value="MORNING" {% if course.period == "MORNING" %}selected{% endif %}>Matutino</option>
            <option value="AFTERNOON" {% if course.period == "AFTERNOON" %}selected{% endif %}>Vespertino</option>
            <option value="NIGHT" {% if course.period == "NIGHT" %}selected{% endif %}>Noturno</option>
          </select>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-[3%] mt-[24px]">
      <div class="flex-1">
        <label for="type" class="font-medium text-[18px]">Duração:</label>
        <div class="relative w-full cursor-pointer mt-[16px]">
          <img
            class="absolute top-[12px] right-[10px]"
            src="{% static 'images/icons/icon-updown-arrow.svg' %}"
            width="24px"
            height="24px"
          />
          <select
            name="durationType"
            class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
            required
          >
            <option value="default" disabled>Selecione a duração...</option>
            <option value="SEMESTER" {% if course.durationType == "SEMESTER" %}selected{% endif %}>Semestral</option>
            <option value="YEAR" {% if course.durationType == "YEAR" %}selected{% endif %}>Anual</option>
          </select>
        </div>
      </div>
      <div class="flex-1">
        <label for="number_of_periods" class="font-medium text-[18px]">Qtd. Periodos:</label>
        <input
          type="number"
          name="number_of_periods"
          min="1"
          placeholder="Digite a quantidade de períodos..."
          required
          class="outline-none placeholder:text-[18px] placeholder:text-slate-300 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px]"
          value="{{ course.number_of_periods }}"
        />
      </div>
    </div>

    <div class="mt-[24px] mb-[32px]">
      <label for="course_type" class="font-medium text-[18px]">Tipo:</label>
      <div class="relative w-full cursor-pointer mt-[16px]">
        <img
          class="absolute top-[12px] right-[10px]"
          src="{% static 'images/icons/icon-updown-arrow.svg' %}"
          width="24px"
          height="24px"
        />
        <select
          name="course_type"
          class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50"
          required
        >
          <option value="default" selected disabled>
            Selecione o tipo...
          </option>
          {% for type in course_types %}
            <option value="{{ type }}" {% if course.course_type == type %}selected{% endif %}>{{ type }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>

  {% if course.subjects.all|length > 0 %}
    <form id="search-subject-form">
      <label for="search_subject" class="font-medium text-[18px]">Matérias</label>
      <div
      class="mb-[26px] mt-[16px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2"
      >
        <img
          src="{% static 'images/icons/icon-search.svg' %}"
          width="18px"
          height="18px"
        />
        <input
          type="text"
          name="search_subject"
          placeholder="Buscar matéria..."
          class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50"
          value="{{ request.GET.search_subject }}"
          onkeypress="if (event.key === 'Enter') { event.preventDefault(); document.getElementById('search-subject-form').submit();}"
        />
      </div>
    </form>

    <div class="flex flex-col gap-[16px] mt-[40px]">
      {% for subject in course_subjects %}
        <div class="flex justify-between items-center h-[44px] border border-slate-300 px-[15px] rounded-lg">
          <span class="text-[18px]"><strong>{{ subject.name }}</strong> - {{ subject.teacher.name }} | <strong>Duração:</strong> {{ subject.get_subject_type_display }}</span>

          <a href="{% url 'delete_subject' subject.id %}" onclick="return confirm('Tem certeza que deseja excluir a matéria {{ subject.name }}?')">
            <img
              src="{% static 'images/icons/icon-remove-element.svg' %}"
              width="18px"
              height="20px"
              class="cursor-pointer"
            />
          </a>
        </div>
      {% endfor %}
    </div>
  {%endif%}
  <div class="flex mt-[56px] gap-[16px]">
    <button onclick="document.getElementById('edit-form').submit()" class="text-[18px] py-[11px] px-[44px] border border-green-600 rounded-lg font-medium cursor-pointer">
      Editar
    </button>
    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Tem certeza que deseja excluir o curso {{ course.name }}?')" class="text-[18px] py-[11px] px-[44px] border border-red-500 rounded-lg font-medium cursor-pointer">
      Excluir
    </a>
  </div>
</div>

{% endblock content %}
