{% load static %}

<div class="flex items-center justify-start gap-5">
  <button onclick="history.back()"
          class="{% if not no_margin %}mt-[56px]{% endif %} capitalize text-[18px] py-[11px] px-[22px] min-w-[150px] border border-orange-600 rounded-lg text-orange-600 font-semibold cursor-pointer flex items-center justify-center gap-2 hover:scale-105 transition-all">
    Voltar
  </button>
  {% if not no_save %}
    {% if edit_url %}
      <a href="{% url edit_url object.pk %}"
         class="{% if not no_margin %}mt-[56px]{% endif %} capitalize text-[18px] py-[11px] px-[22px] min-w-[150px] border border-blue-600 rounded-lg text-blue-600 font-semibold cursor-pointer flex items-center justify-center gap-2 hover:scale-105 transition-all">
        Editar
      </a>
    {% else %}
      <button class="{% if not no_margin %}mt-[56px]{% endif %} capitalize text-[18px] py-[11px] px-[22px] min-w-[150px] border border-green-600 rounded-lg text-green-600 font-semibold cursor-pointer flex items-center justify-center gap-2 hover:scale-105 transition-all">
        Salvar
      </button>
    {% endif %}
  {% endif %}
</div>
