{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-home-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="PEIs" icon="images/icons/icon-pei.svg" url="academics:pei_list" %}
  {% breadcrumb_item text="Detalhes da Oferta" icon="images/icons/highlighter-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
  </div>
{% endblock content %}
