{% extends "layouts/base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-home-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Disciplinas" icon="images/icons/icon-courses-green.svg" url="academics:course_list" %}
  {% breadcrumb_item text=title icon="images/icons/icon-courses-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}: {{ object.name }}</h1>
    <div class="mt-[53px] w-full h-max p-8 overflow-x-auto border border-slate-300 rounded-lg">
      <div class="flex flex-col">
        <div>
          <span class="font-semibold text-[18px]">Nome:</span>
          {{ object.name }}
        </div>
        <div>
          <span class="font-semibold text-[18px]">Tipo de Duração:</span>
          {{ object.get_subject_type_display }}
        </div>
      </div>
    </div>
    <p class="font-semibold mb-4 mt-[8px]">Objetivo da Disciplina</p>
    {% if object.objective %}
      <div class="flex items-center w-full h-max overflow-x-auto border border-slate-300 rounded-lg mb-4 px-8 p-2 gap-2 text-slate-900 font-regular text-[18px]">
        {{ object.objective|linebreaks }}
      </div>
    {% else %}
      <p class="ml-5 text-slate-900 font-regular text-[18px]">Obejetivo não informado.</p>
    {% endif %}
    <p class="font-semibold mb-4 mt-[8px]">Conteúdo da Disciplina</p>
    {% if object.content %}
      <div class="flex flex-col max-h-[20%] overflow-y-scroll items-center w-full h-max overflow-x-auto border border-slate-300 rounded-lg mb-4 px-8 p-2 gap-2 text-slate-900 font-regular text-[18px] max-md:max-h-[50vh] max-sm:max-h-[30vh] custom-scrollbar">
        {{ object.content|linebreaks }}
      </div>
    {% else %}
      <p class="ml-5 text-slate-900 font-regular text-[18px]">A Disciplina não tem Conteúdo</p>
    {% endif %}
    <p class="font-semibold mb-4 mt-[8px]">Metodologia da Disciplina</p>
    {% if object.methodology %}
      <div class="flex flex-col max-h-[20%] overflow-y-scroll items-center w-full h-max overflow-x-auto border border-slate-300 rounded-lg mb-4 px-8 p-2 gap-2 text-slate-900 font-regular text-[18px] max-md:max-h-[50vh] max-sm:max-h-[30vh] custom-scrollbar">
        {{ object.methodology|linebreaks }}
      </div>
    {% else %}
      <p class="ml-5 text-slate-900 font-regular text-[18px]">A Metodologia não foi definida</p>
    {% endif %}
    <p class="font-semibold mb-4 mt-[8px]">Recursos da Disciplina</p>
    {% if object.resources %}
      <div class="flex flex-col max-h-[20%] overflow-y-scroll items-center w-full h-max overflow-x-auto border border-slate-300 rounded-lg mb-4 px-8 p-2 gap-2 text-slate-900 font-regular text-[18px] max-md:max-h-[50vh] max-sm:max-h-[30vh] custom-scrollbar">
        {{ object.resources|linebreaks }}
      </div>
    {% else %}
      <p class="ml-5 text-slate-900 font-regular text-[18px]">Os recursos da Disciplina não foram definidos</p>
    {% endif %}
    <p class="font-semibold mb-4 mt-[8px]">Avaliações da Disciplina</p>
    {% if object.assessments %}
      <div class="flex flex-col max-h-[20%] overflow-y-scroll items-center w-full h-max overflow-x-auto border border-slate-300 rounded-lg mb-4 px-8 p-2 gap-2 text-slate-900 font-regular text-[18px] max-md:max-h-[50vh] max-sm:max-h-[30vh] custom-scrollbar">
        {{ object.assessments|linebreaks }}
      </div>
    {% else %}
      <p class="ml-5 text-slate-900 font-regular text-[18px]">As Avaliações dessa Disciplina ainda não foram definidos</p>
    {% endif %}
    <p class="font-semibold mb-4 mt-[38px]">Disciplina presente nos cursos:</p>
    <div class="overflow-y-auto h-[253px] mb-[38px]">
      {% for subject in object.courses.all %}
        <div class="flex items-center w-full h-max overflow-x-auto border border-slate-300 rounded-lg mb-4 px-8 p-2 gap-2">
          <p class="text-slate-900 font-bold text-[18px]">Nome:</p>
          <p class="text-slate-900 font-regular text-[18px]">{{ subject.name }}</p>
          <p class="text-slate-900 font-bold text-[18px]">Turno:</p>
          <p class="text-slate-900 font-regular text-[18px]">{{ subject.get_period_display }}</p>
        </div>
      {% empty %}
        <p class="text-slate-900 font-regular text-[18px]">Nenhum curso com esta disciplina cadastrada.</p>
      {% endfor %}
    </div>
    {% include "components/_save_back_edit_buttons.html" with link_to_back="academics:subject_list" edit_url="academics:subject_update" %}
  </div>
{% endblock content %}
