{% load static %}

{% for message in messages %}
  <article class="alert-message inline-flex flex-wrap items-center gap-2 text-sm p-4 text-white rounded-lg bg-blue-700 shadow-sm"
           role="alert">
    <img src="{% static 'images/icons/information_circle.svg' %}"
         alt="Ícone de um i em volta de um círculo representando informação."
         class="w-5 h-5" />
    <section class="text-base font-light">
      <p>{{ message|safe }}</p>
    </section>
    <button class="close-btn ml-auto p-2 text-white" aria-label="Fechar">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
           class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </article>
{% endfor %}
{% block inline_javascript %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const closeButtons = document.querySelectorAll('.close-btn');

      closeButtons.forEach(button => {
        button.addEventListener('click', function() {
          const alertMessage = this.closest('.alert-message');
          if (alertMessage) {
            alertMessage.remove();
          }
        });
      });
    });

    //apaga as menssagens depois de 4 segundos
    document.addEventListener("DOMContentLoaded", () => {
      const alertMessage = document.querySelectorAll('.alert-message')
      setTimeout(() => {
        alertMessage.forEach(element => element.remove())
      }, 4000)
    })
  </script>
{% endblock inline_javascript %}
