{% load static i18n %}

<div class="grid grid-cols-1 md:grid-cols-6 gap-9 mb-20">
  <nav class="space-y-2 min-w-[100px] max-w-[280px] col-span-1">
    <ul class="space-y-4">
      <li class="font-poppins rounded-lg py-2 px-1 {% if sub_active_tab == 'edit_personal_data' %} text-white bg-green-500 {% else %} text-slate-300 {% endif %} cursor-pointer hover:bg-green-500 hover:text-white transition duration-300 ease-in-out">
        <a href="?tab=edit_student_data&sub_tab=edit_personal_data#tab"
           class="block max-w-xs truncate">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="inline-block size-6 text-inherit">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
          Dados Pessoais
        </a>
      </li>
      <li class="font-poppins rounded-lg py-2 px-1 {% if sub_active_tab == 'edit_files' %} text-white bg-green-500 {% else %} text-slate-300 {% endif %} cursor-pointer hover:bg-green-500 hover:text-white transition duration-300 ease-in-out">
        <a href="?tab=edit_student_data&sub_tab=edit_files#tab"
           class="block max-w-xs truncate">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="inline-block size-6 text-inherit">
            <path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
          </svg>
          Anexos
        </a>
      </li>
      <li class="font-poppins rounded-lg py-2 px-1 {% if sub_active_tab == 'edit_historic' %} text-white bg-green-500 {% else %} text-slate-300 {% endif %} cursor-pointer hover:bg-green-500 hover:text-white transition duration-300 ease-in-out">
        <a href="?tab=edit_student_data&sub_tab=edit_historic#tab"
           class="block max-w-xs truncate">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="inline-block size-6 text-inherit">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
          </svg>
          Historico
        </a>
      </li>
      <li class="font-poppins rounded-lg py-2 px-1 {% if sub_active_tab == 'edit_notes' %} text-white bg-green-500 {% else %} text-slate-300 {% endif %} cursor-pointer hover:bg-green-500 hover:text-white transition duration-300 ease-in-out">
        <a href="?tab=edit_student_data&sub_tab=edit_notes#tab"
           class="block max-w-xs truncate">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="inline-block size-6 text-inherit">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
          </svg>
          Notas
        </a>
      </li>
    </ul>
  </nav>
  <section class="w-full space-y-9 col-span-5">
    {% if sub_active_tab == 'edit_personal_data' %}
      {% include "pages/profile_tabs/edit_student_tabs/edit_personal_data.html" %}
    {% elif sub_active_tab == 'edit_files' %}
      {% include "pages/profile_tabs/edit_student_tabs/edit_files.html" %}
    {% elif sub_active_tab == 'edit_historic' %}
      {% include "pages/profile_tabs/edit_student_tabs/edit_historic.html" %}
    {% elif sub_active_tab == 'edit_notes' %}
      {% include "pages/profile_tabs/edit_student_tabs/edit_notes.html" %}
    {% endif %}
  </section>
</div>
