{% load static i18n %}
<div class="flex gap-[5%]">
  <div
    class="flex flex-col gap-[16px] text-[18px] text-slate-300 w-full max-w-[218px]"
  >
    {% for i in "x"|rjust:student.course.number_of_periods %}
      <a 
        href="{%url 'profile' student.id%}?tab=grades&selectedPeriod={{forloop.counter}}" 
        class="p-[10px] rounded-lg cursor-pointer {%if request.GET.selectedPeriod == forloop.counter|slugify or forloop.first and request.GET.selectedPeriod is null%} bg-green-500 text-slate-50{%endif%}">
          {{forloop.counter}}° {%if student.course.durationType == "SEMESTER" %}semestre{%else%}ano{%endif%}
      </a>
    {%endfor%}
  </div>
  {% if student_notes %}
    <div class="flex-1">
      <div class="border border-slate-300 rounded-lg px-[20px] py-[40px]">
          <div>
              <canvas id="myChart"></canvas>
          </div>
      </div>

      <div
        class="mt-[36px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg"
      >
        <table
          class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]"
        >
          <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
            <tr>
              <th class="pl-[76px]">Matéria</th>
              <th>1° Bimestre</th>
              <th>2° Bimestre</th>
              {%if student.course.durationType != "SEMESTER" %}
                <th>3° Bimestre</th>
                <th>4° Bimestre</th>
              {%endif%}
            </tr>
          </thead>
          <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
            {% for subject_grades in student_notes %}
            <tr>
              <td class="pl-[76px]">
                  {{subject_grades.offer.subject.name}}
              </td>
              <td>{% if subject_grades.grade1 is not null %}{{subject_grades.grade1}}{%else%}---{%endif%}</td>
              <td>{% if subject_grades.grade2 is not null %}{{subject_grades.grade2}}{%else%}---{%endif%}</td>
              {%if student.course.durationType != "SEMESTER" %}
                <td>{% if subject_grades.grade3 is not null %}{{subject_grades.grade3}}{%else%}---{%endif%}</td>
                <td>{% if subject_grades.grade4 is not null %}{{subject_grades.grade4}}{%else%}---{%endif%}</td>
              {%endif%}
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

    </div>
  {%else%}
    <p>Não há notas registradas para este {%if student.course.durationType == "SEMESTER"%}semestre{%else%}ano{%endif%}.</p>
  {%endif%}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        	'1° Bimestre', 
          '2° Bimestre',
          {%if student.course.durationType != "SEMESTER" %}
            '3° Bimestre',
            '4° Bimestre'
          {%endif%}
          ],
      datasets: [
        {% for subject_grades in student_notes %}
        {
          label: '{{subject_grades.offer.subject.name}}',
          data: [
            {% if subject_grades.grade1 %}{{subject_grades.grade1}},{%endif%}
            {% if subject_grades.grade2 %}{{subject_grades.grade2}},{%endif%}
            {% if subject_grades.grade3 %}{{subject_grades.grade3}},{%endif%}
            {% if subject_grades.grade4 %}{{subject_grades.grade4}},{%endif%}
          ].filter((p) => p !=0),
          borderWidth: 2,
          tension: 0.2,
        },
        {%endfor%}
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>