{% extends "layouts/base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-courses-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Disciplinas" icon="images/icons/icon-courses-green.svg" url="academics:subject_list" %}
  {% breadcrumb_item text=title icon="images/icons/icon-edit-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <form method="post" id="subject_form">
      {% csrf_token %}
      <div class="flex-1">
        <label for="name" class="font-medium text-[18px]">Nome:</label>
        <input type="text"
              name="name"
              placeholder="Digite o nome da disciplina ..."
              class="outline-none placeholder:text-[18px] placeholder:text-slate-500 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px] {% if form.instance.pk %}pointer-events-none cursor-not-allowed text-slate-500/50{% endif %}"
              value="{{ form.name.value|default_if_none:'' }}"
              required
              {% if form.instance.pk %}readonly{% endif %} />
      </div>
      {% if form.instance.pk %}
        <p class="my-4 text-sm font-sans text-slate-500">
          O título não pode ser editado, pois é utilizado como identificador principal nas sincronizações feitas pelo aplicativo <strong>PEIs Sync</strong>. Essa restrição evita problemas e previne a duplicação de disciplinas.
        </p>
      {% endif %}
      <div class="mt-[32px]">
        <label class="font-medium text-[18px]">Cursos:</label>
        <div class="mt-[16px] border border-slate-300 rounded-lg py-2 px-3 max-h-[150px] overflow-y-auto gap-6">
          {% for course in form.courses.field.queryset %}
            <div class="flex flex-row-reverse justify-end items-center gap-1">
              <input id={{ course.id }} type="checkbox" class="hidden peer" name="courses" value="{{ course.id }}" {% if course.id in form.courses.value %}checked{% endif %} />
              {{ course.name }} - {{course.get_period_display}}
              <label for={{ course.id }} class="flex items-center cursor-pointer w-[20px] h-[20px] rounded-[5px] peer-checked:[&_img]:block bg-slate-300">
                <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                     width="20px"
                     height="20px"
                     class="hidden"
                     alt="Checkmark" />
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="mt-[32px]">
        <label class="font-medium text-[18px]">Matriz:</label>
        <div class="mt-[16px] border border-slate-300 rounded-lg py-2 px-3 max-h-[150px] overflow-y-auto gap-6">
          {%for matrix in form.matrix.field.queryset%}
            <div class="flex flex-row-reverse justify-end items-center gap-1">
              <label class="cursor-pointer" for="matrix_{{matrix.id}}" onclick="RadioEfect('matrix_checkbox','matrix_{{matrix.id}}')">
                {{matrix}}-({{matrix.year}})
              </label>
              <input 
              type="checkbox" 
              name="matrix" 
              id="matrix_{{matrix.id}}"
              value="{{matrix.id}}"
              class="matrix_checkbox hidden peer"
              {%if matrix == object.matrix%}
                checked
              {%endif%}
              >
              <label 
              for="matrix_{{matrix.id}}"
              onclick="RadioEfect('matrix_checkbox')"
              class="flex items-center cursor-pointer w-[20px] h-[20px] rounded-[5px] peer-checked:[&_img]:block bg-slate-300">
                 <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                     width="20px"
                     height="20px"
                     class="hidden"
                     alt="Checkmark" />
              </label>
            </div>
            {%empty%}
            <h1>
              Nenhuma Matriz cadastrada 
            </h1>
          {%endfor%}
        </div>
      </div>
      <div class="mt-[32px]">
        <label for="type" class="font-medium text-lg">Duração:</label>
        <div class="flex gap-[70px] mt-[18px]">
          <div class="flex items-center space-x-4 mt-2">
            <div class="flex items-center gap-[8px]">
              <input type="radio"
                     required
                     id="Semestral"
                     name="subject_type"
                     value="SEMESTER"
                     class="hidden peer"
                     {% if form.subject_type.value == "SEMESTER" %}checked{% endif %} />
              <label for="Semestral"
                     class="flex items-center cursor-pointer w-[20px] h-[20px] rounded-[5px] peer-checked:[&_img]:block bg-slate-300">
                <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                     width="20px"
                     height="20px"
                     class="hidden"
                     alt="Checkmark" />
              </label>
              <span>Semestral</span>
            </div>
          </div>
          <div class="flex items-center space-x-4 mt-2">
            <div class="flex items-center gap-[8px]">
              <input type="radio"
                     id="Anual"
                     required
                     name="subject_type"
                     value="YEAR"
                     class="hidden peer"
                     {% if form.subject_type.value == "YEAR" %}checked{% endif %} />
              <label for="Anual"
                     class="flex items-center cursor-pointer peer-checked:text-white border border-gray-300 w-[20px] h-[20px] rounded-[5px] peer-checked:border-none peer-checked:[&_img]:block bg-slate-300">
                <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                     width="20px"
                     height="20px"
                     class="hidden"
                     alt="Checkmark" />
              </label>
              <span>Anual</span>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-8" />
      <div class="mb-4 col-span-2 flex-1 mt-8">
        <label for="{{ form.objective.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Objetivos da disciplina:</label>
        <textarea id="{{ form.objective.id_for_label }}"
                  name="{{ form.objective.name }}"
                  placeholder="Defina os objetivos da disciplina. Serão utilizados como base ao gerar os planos de ensino relacionados..."
                  class="bg-transparent font-sans appearance-none border rounded-lg h-[30vh] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">{{ form.objective.value|default_if_none:'' }}</textarea>
        {% if form.objective.errors %}
          <ul class="list-disc p-2">
            {% for error in form.objective.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="mb-4 col-span-2 flex-1 mt-[18px]">
        <label for="{{ form.content.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Conteúdo programático:</label>
        <textarea id="{{ form.content.id_for_label }}"
                  name="{{ form.content.name }}"
                  placeholder="Defina o conteúdo programático. Será utilizado como base ao gerar os planos de ensino relacionados..."
                  class="bg-transparent font-sans appearance-none border rounded-lg h-[30vh] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">{{ form.content.value|default_if_none:'' }}</textarea>
        {% if form.content.errors %}
          <ul class="list-disc p-2">
            {% for error in form.content.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="mb-4 col-span-2 flex-1 mt-[18px]">
        <label for="{{ form.methodology.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Metodologias:</label>
        <textarea id="{{ form.methodology.id_for_label }}"
                  name="{{ form.methodology.name }}"
                  placeholder="Defina as metodologias. Serão utilizadas como base ao gerar os planos de ensino relacionados..."
                  class="bg-transparent font-sans appearance-none border rounded-lg h-[30vh] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">{{ form.methodology.value|default_if_none:'' }}</textarea>
        {% if form.methodology.errors %}
          <ul class="list-disc p-2">
            {% for error in form.methodology.errors %}<li class="text-red-500 ml-2">{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="mb-4 col-span-2 flex-1 mt-[18px]">
        <label for="{{ form.resources.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Recursos didáticos:</label>
        <textarea id="{{ form.resources.id_for_label }}"
                  name="{{ form.resources.name }}"
                  placeholder="Defina os recursos didáticos. Serão utilizados como base ao gerar os planos de ensino relacionados..."
                  class="bg-transparent font-sans appearance-none border rounded-lg h-[30vh] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">{{ form.resources.value|default_if_none:'' }}</textarea>
        {% if form.resources.errors %}
          <ul class="list-disc p-2">
            {% for error in form.resources.errors %}
              <li class="text-red-500 ml-2">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="mb-4 col-span-2 flex-1 mt-[18px]">
        <label for="{{ form.assessments.id_for_label }}"
               class="font-sans font-medium text-lg text-ls block mb-4">Avaliações</label>
        <textarea id="{{ form.assessments.id_for_label }}"
                  name="{{ form.assessments.name }}"
                  placeholder="Defina as avaliações. Serão utilizadas como base ao gerar os planos de ensino relacionados..."
                  class="bg-transparent font-sans appearance-none border rounded-lg h-[30vh] min-h-40 w-full py-2 px-3 placeholder:font-light font-light placeholder:text-slate-500 text-slate-900 hover:border-green-500 focus:outline-green-500">{{ form.assessments.value|default_if_none:'' }}</textarea>
        {% if form.assessments.errors %}
          <ul class="list-disc p-2">
            {% for error in form.assessments.errors %}
              <li class="text-red-500 ml-2">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% include "components/_save_back_edit_buttons.html" with link_to_back="academics:subject_list" %}
    </form>
  </div>
{% endblock content %}

{%block modal%}
<div id="WithoutMatrxConfirmModal" tabindex="-1" aria-labelledby="modalTitle" aria-modal="true" role="dialog"
     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto opacity-100">
    <h1 class="text-xl font-semibold mb-4">
      Criar/Modificar Disciplina sem informar a matriz?
    </h1>
    <p class="mb-4 !text-red-800">
      Essa Ação pode Causar problemas de sincronização
    </p>  
   <div class="flex justify-end gap-4">
      <button type="button" id="cancelModalBtn" class="cancelDelete bg-gray-300 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-400">
        Cancelar
      </button>
      <button type="button" id="confirmModalBtn" class="confirmDelete bg-green-500 text-white px-4 py-2 rounded-lg cursor-pointer">
        Confirmar
      </button>
    </div>
  </div>
</div>
{%endblock modal%}

{%block inline_javascript%}
<script>
  //global vars
  const form = document.getElementById("subject_form")
  const withoutMatrxModal = document.getElementById("WithoutMatrxConfirmModal")
  const confirmModelBtn = document.getElementById("confirmModalBtn")
  const cancelModalBtn = document.getElementById("cancelModalBtn")
  const matrixArray = Array.from(document.getElementsByClassName("matrix_checkbox"))

  form.addEventListener("submit",(e)=>{FormSubmit(e,form)})
  
  cancelModalBtn.addEventListener('click',()=>{withoutMatrxModal.classList.add("hidden")})
  confirmModelBtn.addEventListener('click',()=>{form.submit()})
  
  
  function FormSubmit(event,form){
    event.preventDefault()
    let hasMatrixSelected = false

    matrixArray.forEach(element=>{if(element.checked)hasMatrixSelected=true})
  
    !hasMatrixSelected && matrixArray.length > 0 ? withoutMatrxModal.classList.remove('hidden') : form.submit()
  }

  function RadioEfect(elementsClass,elementCheckedId){
    const Elements = Array.from(document.getElementsByClassName(elementsClass))

    Elements.map(element=>{
      if(element.id != elementCheckedId) element.checked = false}
    )
  
  }
  
  
</script>
{%endblock inline_javascript %}