{% extends "layouts/base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}
{% load search_option %}
{% load action_buttons %}
{% load register_and_import_buttons %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-courses-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Disciplinas" icon="images/icons/icon-courses-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
{%load_search_script%}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <form class=" mb-[38px]">
      <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
        <img src="{% static 'images/icons/icon-search.svg' %}"
             alt=""
             width="18px"
             height="18px" />
        <input type="text"
               name="search"
               placeholder="Pesquisar..."
               class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50 placeholder:text-slate-500" 
               value="{{ request.GET.search }}" />
      </div>
      <div class="flex gap-[8px] flex-wrap">
        <div class="relative w-[322px] cursor-pointer">
          {%search_option object_name='courses' query=filter.form.courses.field.queryset input_placeholder='Selecione o curso...'%}
        </div>
        <div class="relative w-[322px] cursor-pointer">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="subject_type"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-500 appearance-none bg-neutral-50">
            <option value="default" selected disabled>Selecione a duração...</option>
            {% for key, value in filter.form.subject_type.field.choices %}
              <option value="{{ key }}"
                      {% if key == request.GET.subject_type %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="relative max-w-[30%] cursor-pointer">
           <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
            <select name="matrix"
                    class="outline-none text-[18px] max-w-full overflow-hidden  rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] text-slate-500 appearance-none bg-neutral-50 text-ellipsis">
            <option value="default" selected disabled>Selecionar a matriz...</option>
            {% for key, value in filter.form.matrix.field.choices %}
              <option value="{{ key }}"
              {% if key|stringformat:'s' == request.GET.matrix %}selected{% endif %}>
                  {{ value }}
              </option>
            {% endfor %}
            </select>
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 rounded-[6px] text-neutral-50">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               alt=""
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
      {% register_and_import_buttons register_text='Cadastrar Nova disciplina' register_link='academics:subject_create' import_text='Importar Disciplinas' import_link='academics:subject_import'%}
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
        <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
          <tr>
            <th class="pl-[76px]">Nome da Disciplina</th>
            <th>Cursos</th>
            <th class='pr-2 w-[10%]' style="text-align: center">Situação</th>
            <th>Duração</th>
            <th colspan="3" style="text-align: center" class='pr-[30px]'>Ações</th>
          </tr>
        </thead>
        <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
          {% for object in object_list %}
            <tr>
              <td class="pl-[76px]">{{ object.name }}</td>
              <td class="py-2">
                {% for subject_course in object.courses.all|slice:":3" %}
                  {{ subject_course.name }} - {{subject_course.get_period_display}}
                  {% if not forloop.last %}
                    ,
                    <br />
                  {% endif %}
                {% endfor %}
                {% if object.courses.all|length > 3 %}...{% endif %}
              </td>
              <td class='pr-2 w-[10%]'>
                {%if object.is_filled %}
                  <div class="w-full flex justify-center items-center">
                    <img src={%static "images/icons/sync-updated-icon.svg"%} alt="" width='36px'class="filled_icon cursor-pointer"/>
                    <span class="absolute filled_message top-0 w-[250px] text-center p-2 bg-neutral-200 rounded-2xl z-10">
                      Preenchido
                    </span>
                  </div>
                {%else%}
                  <div class="w-full flex justify-center items-center">
                    <img src={%static "images/icons/not-sync-icon.svg"%} alt="" width='36px' class="filled_icon cursor-pointer"/>
                    <span class="absolute filled_message top-0 w-[250px] text-center p-2 bg-neutral-200 rounded-2xl z-10 hidden">
                      Não Preenchido
                    </span>
                  </div>
                {%endif%}
              </td>
              <td>{{ object.get_subject_type_display }}</td>
              <td>
                {% action_buttons detail_view='academics:subject_detail' edit_view='academics:subject_update' object=object model_name='Disciplina' %}
              </td>
              {% include "components/_confirm_delete_modal.html" with title="Confirmar Exclusão da disciplina" body_text="Tem certeza de que deseja excluir este item? Esta ação não pode ser desfeita." delete_url="academics:subject_delete" %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center">Nenhuma disciplina cadastrada.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "components/_table_pagination.html" %}
  </div>
{% endblock content %}

{%block inline_javascript%}
<script>
  let filled_icons = Array.from(document.getElementsByClassName("filled_icon")) 
  let filled_messages = Array.from(document.getElementsByClassName("filled_message"))

  let CalculateMessagePosition = (element,margin_top=0)=>{
    let element_position = element.getBoundingClientRect()
    return window.scrollY + element_position.top + margin_top
  }

  let ShowMessage = (message_element,position)=>{
    message_element.style.transform = `translateY(${position}px)`
    message_element.style.display = 'block'
  }

  let HiddenMessage = (message_element)=>{message_element.style.display='none'}


  filled_icons.forEach((element,index)=>{
    let element_filled_message = filled_messages[index]

    element.addEventListener('mouseenter',()=>{
      let filled_message_position = CalculateMessagePosition(element,50)
      ShowMessage(element_filled_message,filled_message_position)
    })

    element.addEventListener("mouseleave",()=>{HiddenMessage(element_filled_message)})
  })


</script>
{%endblock inline_javascript%}