{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-courses-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Disciplinas" icon="images/icons/icon-courses-green.svg" url="academics:subject_list" %}
  {% breadcrumb_item text=title icon="images/icons/icon-edit-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{title}}</h1>
    <form method="post">
      {% csrf_token %}
      <div class="flex-1">
        <label for="name" class="font-medium text-[18px]">Nome:</label>
        <input type="text"
               name="name"
               placeholder="Digite o nome da matéria..."
               class="outline-none placeholder:text-[18px] placeholder:text-slate-300 rounded-lg bg-neutral-50 w-full h-[48px] px-[10px] border border-slate-300 mt-[16px]"
               value="{{ form.name.value|default_if_none:'' }}"
               required />
      </div>
      <div class="mt-[32px]">
        <label class="font-medium text-[18px]">Cursos:</label>
        <div class="mt-[16px] border border-slate-300 rounded-lg py-2 px-3 max-h-[150px] overflow-y-auto gap-6">
          {% for course in form.courses.field.queryset %}
            <div class="flex flex-row-reverse justify-end items-center gap-1">
              <input id={{course.id}} type="checkbox" class="hidden peer" name="courses" value="{{ course.id }}"
                     {% if course.id in form.courses.value %}checked{% endif %} />
              {{ course.name }}
              <label for={{course.id}}
              class="flex items-center cursor-pointer w-[20px] h-[20px] rounded-[5px] peer-checked:[&_img]:block bg-slate-300">
                <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                      width="20px"
                      height="20px"
                      class="hidden"
                      alt="Checkmark" />
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="mt-[32px]">
        <label for="type" class="font-medium text-lg">Duração:</label>
        <div class="flex gap-[70px] mt-[18px]">
          <div class="flex items-center space-x-4 mt-2">
            <div class="flex items-center gap-[8px]">
              <input type="radio"
                     required
                     id="Semestral"
                     name="subject_type"
                     value="SEMESTER"
                     class="hidden peer"
                     {% if form.subject_type.value == "SEMESTER" %}checked{% endif %} />
              <label for="Semestral"
                     class="flex items-center cursor-pointer w-[20px] h-[20px] rounded-[5px] peer-checked:[&_img]:block bg-slate-300">
                <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                     width="20px"
                     height="20px"
                     class="hidden"
                     alt="Checkmark" />
              </label>
              <span>Semestral</span>
            </div>
          </div>
          <div class="flex items-center space-x-4 mt-2">
            <div class="flex items-center gap-[8px]">
              <input type="radio"
                     id="Anual"
                     required
                     name="subject_type"
                     value="YEAR"
                     class="hidden peer"
                     {% if form.subject_type.value == "YEAR" %}checked{% endif %} />
              <label for="Anual"
                     class="flex items-center cursor-pointer peer-checked:text-white border border-gray-300 w-[20px] h-[20px] rounded-[5px] peer-checked:border-none peer-checked:[&_img]:block bg-slate-300">
                <img src="{% static 'images/icons/icon-checkbox-checked.svg' %}"
                     width="20px"
                     height="20px"
                     class="hidden"
                     alt="Checkmark" />
              </label>
              <span>Anual</span>
            </div>
          </div>
        </div>
      </div>
      {% include "_save_back_edit_buttons.html" with link_to_back="academics:subject_list" %}
    </form>
  </div>
{% endblock content %}
