{% load static i18n %}

<header class="mb-1">
  <div class="nav-content">
    <div class="logo-container">
      <button onclick="handleToggleNav()">
        <img src="{% static 'images/icons/menu.svg' %}"/>
      </button>
      <h1>
        {% comment %} <a href="{% url 'home' %}"> {% endcomment %}
          <img src="{% static 'images/icons/white-logo.svg' %}"/>
        </a>
      </h1>
    </div>
  {% block header %}
    <nav id="header-nav">
      <ul>
        {% if request.user.type != "PROFESSOR" %}
          <li>
            {% comment %} <a class="select" href="{% url 'home' %}">Início</a> {% endcomment %}
          </li>

          <li>
            {% comment %} <a href="{% url 'users:get_users' %}">Usuários</a> {% endcomment %}
          </li>

          <li>
            {% comment %} <a href="{% url 'courses_list' %}">Cursos</a> {% endcomment %}
          </li>

          <li>
            {% comment %} <a href="{% url 'register_history' %}">Cadastrar Aluno</a> {% endcomment %}
          </li>
        {% endif %}
          <li>
              <img id="bell" src="{% static 'images/icons/notification.svg' %}"/>
            <div id="notifications" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                {% if notifications %}
                  {% for notify in notifications %}
                    <div class="notify">
                      <div>
                        <p class="notify-title">{{ notify.title }}</p>
                        <p class="notify-text">{{ notify.text }}</p>
                        <p class="date">Em: {{ notify.created_date }}</p>
                      </div>
                      <div>
                        {% if not notify.viewed %}
                        {% comment %} <a href="{% url 'see_notification' notify.pk %}"> {% endcomment %}
                          <img src="{% static 'images/icons/eye.svg' %}" />
                        </a>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                <p>Você não possui notificações</p>
                {% endif %}

              </div>

            </div>
          </li>
      </ul>

      <div class="background" onclick="handleToggleNav()"></div>
    </nav>
    <section class="dropdown-profile drop-button">
      <img src="{% static 'images/icons/profile.svg' %}" alt="perfil"/>
      <div>
        <p class="name">{{ request.user.name }}</p>
        <p class="email">{{ request.user.email }}</p>
      </div>
      <img class="arrow" src="{% static 'images/icons/arrow.svg' %}" alt="seta"/>
      <div class="dropdown-content">
        {% comment %} <a href="{% url 'account_logout' %}"><span>Sair</span></a> {% endcomment %}
        {% comment %} <a href="{% url 'account_logout' %}"><img src="{% static 'images/icons/logout.svg' %}"/></a> {% endcomment %}
      </div>
    </section>
  {% endblock header %}
  </div>
</header>
