{% load static i18n %}
{% block footer %}
<footer>
  <div class="content">

    <div>
      <h2>
          <img src="{% static 'images/icons/green-logo.svg' %}"/>
          Plano Educacional Individualizado
      </h2>
      <p>
          <b>Sobre o sistema:</b>
          Esse sistema visa o gerenciamento e acompanhamento dos planos educacionais individualizados do IFRN
          - campus Pau dos Ferros
      </p>
  </div>

  <div>
      <p>
          <b>Entre em contato:</b>
          exemplo_email@exemplo.com.br
      </p>
      <p>
          <b>Desenvolvido por:</b>
          José Matheus Bento
          <br>
          Yasmin Carvalho Targino de Alencar
      </p>

      <span>
          MADE WITH
          <img src="{% static 'images/icons/django-logo.svg' %}"/>
      </span>
  </div>

  </div>
  <span class="copyright">© 2023 Gerenciador de Plano Educacional Individualizado</span>
</footer>
{% endblock footer%}
