{% load static i18n %}

<div class="w-full px-[74px] max-w-[1841px] h-[420px] flex justify-between pt-[40px] text-white">
  <div class="w-[560px]">
    <img src="{% static 'images/icons/green-logo.svg' %}" alt=""
         width="145px"
         height="50px" />
    <p class="mt-[20px] mb-[40px]">Plano educacional Individualizado</p>
    <p>
      Esse sistema visa o gerenciamento e acompanhamento dos planos educacionais
      individualizados do IFRN - campus Pau dos Ferros
    </p>
    <div class="flex gap-[18px] mt-[40px]">
      <img src="{% static 'images/icons/social-icons/icon-instagram.svg' %}" alt=""
           width="28"
           height="28px" />
      <img src="{% static 'images/icons/social-icons/icon-facebook.svg' %}" alt=""
           width="28"
           height="28px" />
      <img src="{% static 'images/icons/social-icons/icon-twitter.svg' %}" alt=""
           width="28"
           height="28px" />
      <img src="{% static 'images/icons/social-icons/icon-github.svg' %}" alt=""
           width="28"
           height="28px" />
    </div>
  </div>
  <div class="w-[560px]">
    <img src="{% static 'images/icons/icon-ifrn.svg' %}" alt=""
         width="220px"
         height="75px" />
    <p class="mt-[40px]">Endereço:BR 405, Km 154, s/n, Chico Cajá - Pau dos Ferros-RN</p>
    <br />
    <p>CEP:59900-000</p>
    <br />
    <p>Telefone:(84) 4005 4109</p>
  </div>
  <div class="w-[560px]">
    <img src="{% static 'images/icons/icon-nadic.svg' %}" alt=""
         width="175px"
         height="76px" />
    <p class="mt-[40px]">Núcleo de Análise de Dados e Inteligência Computacional</p>
    <br />
    <p>Trazendo Avanços Tecnológicos para o Alto Oeste Potiguar</p>
    <br />
    <p>Entre em contato: nadicifrn@gmail.com</p>
  </div>
</div>
<div class="w-full px-[74px] max-w-[1841px]">
  <hr class="border-t border-slate-700" />
  <p class="block mt-[32px] mb-[26px] text-white">© 2024 Gerenciador de Plano Educacional Individualizado.</p>
</div>
