{% load static i18n %}

  <div class="flex justify-between items-center bg-white w-full px-[24px] py-[32px]">

    <div class="flex justify-center items-center gap-2">
      <div>
        <h2 class="text-[7px] text-green-600 font-semibold">
          <img src="{% static 'images/icons/green-logo.svg' %}"/>
          Plano Educacional Individualizado
        </h2>
      </div>
      <div class="text-[10px]">
        <p class="font-bold">Sobre o sistema:</p>
        <p>
          Esse sistema visa o gerenciamento e <br>
          acompanhamento dos planos educacionais <br>
          individualizados do IFRN - campus Pau dos Ferros
        </p>
      </div>
    </div>

    <div class="flex justify-center items-center">
      <p>
        <b>Entre em contato:</b>
        exemplo_email@exemplo.com.br
      </p>
      <p>
          <b>Desenvolvido por:</b>
          José Matheus Bento
          <br>
          Yasmin Carvalho Targino de Alencar
      </p>

      <span>
          MADE WITH
          <img src="{% static 'images/icons/django-logo.svg' %}"/>
      </span>
    </div>
  </div>



  <span class="flex justify-center items-center h-8 text-xs bg-gray-900 text-zinc-50 w-full">© 2023 Gerenciador de Plano Educacional Individualizado</span>

