{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>PEIs Sync - Download</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Aplicativo para sincronização dos Planos Educacionais Individualizados." />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
  </head>

  <body class="flex justify-center items-center min-h-screen bg-cover bg-center bg-green-950 bg-[url('../../static/images/img/login_cover.webp')] font-[Poppins] max-md:items-start max-md:mt-16">

    <a href="/" class="flex items-center justify-center gap-2 fixed max-md:absolute top-3 left-6 max-md:left-4 bg-white px-5 py-2 rounded-3xl cursor-pointer  hover:scale-105 transition-all">
      <span class="text-xl text-green-500">&#8592;</span> 
      <span class="text-md  text-green-500">Voltar ao login</span>
    </a>

    <div class="flex flex-col md:flex-row p-4 md:p-8 w-[95vw] max-w-7xl h-[75vh] bg-white rounded-3xl shadow-2xl overflow-hidden gap-6 max-md:h-auto">
      
      <section class="flex flex-col gap-10 md:gap-16 flex-1 p-6 md:p-10">
        <h1 class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-green-500 leading-tight">
          SINCRONIZAÇÃO <br class="hidden md:block">
          DE DADOS RÁPIDA <br class="hidden md:block">
          E FÁCIL.
        </h1>

        <div class="flex flex-col flex-1 gap-8 md:gap-10">
          <div class="flex items-start gap-3">
            <img src="{% static 'images/icons/icon-cloud-upload.svg' %}" alt="app image" class="w-14 h-14 md:w-[75px] md:h-[75px]">
            <p class="text-green-500 text-sm md:text-base">
              O PEIs Sync é um aplicativo que facilita a atualização dos Planos Educacionais Individualizados (PEIs) sincronizando os dados dos alunos de forma simplificada com o sistema.
            </p>
          </div>
  
          <div class="flex items-start gap-3">
            <img src="{% static 'images/icons/icon-reload-sync.svg' %}" alt="app image" class="w-14 h-14 md:w-[75px] md:h-[75px]">
            <p class="text-green-500 text-sm md:text-base">
              O PEIs Sync se conecta com o SUAP por meio do seu login institucional. Através dessa integração, o aplicativo obtém automaticamente todas as informações acadêmicas necessárias, como alguns dados pessoais do discente, disciplinas, notas, faltas e outros registros essenciais. Tudo isso é sincronizado em poucos segundos.
            </p>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-4">
          <a href="{% static 'peis_sync_app/peis_sync_1.0.1.apk' %}" download class="bg-green-500 hover:bg-green-600 text-white px-6 py-3 rounded-full text-sm flex items-center gap-2 w-full sm:w-fit shadow-md">
            PEIs Sync [Android]
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5m0 0l5-5m-5 5V4"/>
            </svg>
          </a>
          <a href="#" class="bg-slate-900 text-white px-6 py-3 rounded-full text-sm flex items-center gap-2 w-full sm:w-fit shadow-md opacity-50 cursor-not-allowed">
            PEIs Sync [WebApp] - Em breve
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" />
            </svg>
          </a>
        </div>
      </section>

      <section class="flex justify-center items-center flex-1 rounded-xl bg-gradient-to-br from-green-500 to-green-950 relative">
        <div class="flex flex-col items-center gap-6">
          <img src="{% static 'images/img/image-peis-sync-app.png' %}" alt="PEIs Sync"
               class="w-[90%] md:w-[80%] translate-x-[5%] translate-y-[5%]">
        </div>
      </section>

    </div>

  </body>
</html>
