<div class="h-full border border-transparent border-l-slate-300 flex gap-10">
  <div class="flex flex-col gap-4">
    {% for i in "x"|rjust:student.course.number_of_periods %}
      <a href="{% url 'people:profile' student.id %}?tab=edit_student_data&sub_tab=edit_notes&selectedPeriod={{ forloop.counter }}"
         class="font-poppins rounded-lg py-2 px-5 {% if sub_active_tab == 'edit_personal_data' %} text-white bg-green-500 {% endif %}  hover:bg-green-500 hover:text-white transition duration-300 ease-in-out w-[218px] ml-[30px] p-[10px] rounded-lg cursor-pointer {% if request.GET.selectedPeriod == forloop.counter|slugify or forloop.first and request.GET.selectedPeriod is null %} bg-green-500 text-slate-50{% else %} text-slate-500 {% endif %}">
        {{ forloop.counter }}°
        {% if student.course.duration_type == "SEMESTER" %}
          semestre
        {% else %}
          ano
        {% endif %}
      </a>
    {% endfor %}
  </div>

  <div class="flex-1">
    <h2 class="uppercase font-semibold">
      Todas as disciplinas do
      {% if student.course.duration_type == "SEMESTER" %}
        semestre
      {% else %}
        ano
      {% endif %}
    </h2>

    {% if student_notes %}
      {% for subject_grades in student_notes %}
        <form method="post"
              action="{% url 'people:student_update_grades' student.id subject_grades.id %}"
              class="mt-[42px]">
          {% csrf_token %}
          <p class="font-light text-slate-900 capitalize">{{ subject_grades.offer.subject.name }}</p>
          <div class="flex gap-[40px] flex-wrap">

            <div class="text-slate-500 mt-[20px] flex-1 min-w-[200px]">
              <label class="block">1° Bimestre</label>
              <input type="number"
                     max="100"
                     min="0"
                     step="0.01"
                     name="grade1"
                     class="mt-[8px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                     value="{{ subject_grades.grade1 }}" />
              <label class="block mt-2 text-sm">Faltas</label>
              <input type="number"
                     min="0"
                     name="absences1"
                     class="mt-[4px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                     value="{{ subject_grades.absences1 }}" />
            </div>

            <div class="text-slate-500 mt-[20px] flex-1 min-w-[200px]">
              <label class="block">2° Bimestre</label>
              <input type="number"
                     max="100"
                     min="0"
                     step="0.01"
                     name="grade2"
                     class="mt-[8px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                     value="{{ subject_grades.grade2 }}" />
              <label class="block mt-2 text-sm">Faltas</label>
              <input type="number"
                     min="0"
                     name="absences2"
                     class="mt-[4px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                     value="{{ subject_grades.absences2 }}" />
            </div>

            {% if student.course.duration_type != "SEMESTER" %}

              <div class="text-slate-500 mt-[20px] flex-1 min-w-[200px]">
                <label class="block">3° Bimestre</label>
                <input type="number"
                       max="100"
                       min="0"
                       step="0.01"
                       name="grade3"
                       class="mt-[8px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                       value="{{ subject_grades.grade3 }}" />
                <label class="block mt-2 text-sm">Faltas</label>
                <input type="number"
                       min="0"
                       name="absences3"
                       class="mt-[4px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                       value="{{ subject_grades.absences3 }}" />
              </div>


              <div class="text-slate-500 mt-[20px] flex-1 min-w-[200px]">
                <label class="block">4° Bimestre</label>
                <input type="number"
                       max="100"
                       min="0"
                       step="0.01"
                       name="grade4"
                       class="mt-[8px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                       value="{{ subject_grades.grade4 }}" />
                <label class="block mt-2 text-sm">Faltas</label>
                <input type="number"
                       min="0"
                       name="absences4"
                       class="mt-[4px] border border-slate-300 rounded-lg bg-transparent p-[10px] w-full"
                       value="{{ subject_grades.absences4 }}" />
              </div>
            {% endif %}
          </div>

          <button class="border border-slate-300 rounded-lg h-[50px] mt-[32px] w-full text-slate-500 hover:bg-green-500 hover:text-white transition-all"
                  type="submit">
            Atualizar Dados de <span class="capitalize">{{ subject_grades.offer.subject.name }}</span>
          </button>
        </form>
      {% endfor %}
    {% else %}
      <div class="mt-5">
        <p class="font-light text-slate-900">
          Não há notas para este
          {% if student.course.duration_type == "SEMESTER" %}
            semestre.
          {% else %}
            ano.
          {% endif %}
        </p>
      </div>
    {% endif %}
  </div>
</div>
