{% extends "layouts/base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-home-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Docentes" icon="images/icons/icon-multiple-users-green.svg" url="people:teacher_list" %}
  {% breadcrumb_item text=title icon="images/icons/icon-user-green.svg" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <div class="flex justify-center items-center gap-6 p-2 [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px] border border-slate-300">
      <div class="flex flex-col items-center m-4">
        <img id="profileImage"
             src="{% if object.photoAlt %}{{ object.photoAlt.url }}{% elif object.photo %}{{ object.photo }}{% else %}{% static 'images/img/boy_user-profile.svg' %}{% endif %}"
             alt="imagem de perfil"
             class="h-64 w-64 rounded-full bg-transparent border object-cover text-transparent" />
      </label>
    </div>
    <div class="flex flex-col flex-1 m-4">
      <div class="flex-1">
        <p class="font-semibold text-[18px]">Nome</p>
        {{ object.name }}
      </div>
      <div class="flex-1">
        <p class="font-semibold text-[18px]">Matrícula</p>
        {{ object.code }}
      </div>
      <div class="flex-1">
        <p class="font-semibold text-[18px]">Campus</p>
        {{ object.campus }}
      </div>
      <div class="flex-1">
        <p class="font-semibold text-[18px]">Email</p>
        {{ object.email }}
      </div>
    </div>
  </div>
  {% include "components/_save_back_edit_buttons.html" with link_to_back="people:teacher_list" edit_url="people:teacher_update" %}
</div>
{% endblock content %}
{% block inline_javascript %}
  <script>
    function previewImage(event) {

      /*
      Preview da imagen de perfil
      */

      const input = event.target;
      const file = input.files[0];
      const reader = new FileReader();

      reader.onload = function(e) {
        const preview = document.getElementById('profileImage');
        preview.src = e.target.result;
      };

      if (file) {
        reader.readAsDataURL(file);
      }
    }
  </script>
{% endblock inline_javascript %}
