{% extends "base.html" %}

{% load static i18n %}
{% load breadcrumb_item %}

{% block breadcrumb %}
  {% breadcrumb_item text="Home" icon="images/icons/icon-home-green.svg" url="home" first="true" %}
  {% breadcrumb_item text="Acadêmico" icon="images/icons/icon-home-green.svg" url="academics:dashboard" %}
  {% breadcrumb_item text="Docentes" icon="images/icons/icon-multiple-users-green.svg" url="people:teacher_list" %}
{% endblock breadcrumb %}
{% block content %}
  <div class="w-full">
    <h1 class="text-[32px] font-medium mb-[38px]">{{ title }}</h1>
    <form method="get">
      <div class="flex gap-[8px]">
        <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               alt=""
               width="18px"
               height="18px" />
          <input type="text"
                 name="name"
                 id="id_name"
                 placeholder="Nome"
                 value="{{ request.GET.name }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
        <div class="mb-[26px] flex w-1/4 h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               alt=""
               width="18px"
               height="18px" />
          <input type="text"
                 name="code"
                 id="id_code"
                 placeholder="Matrícula"
                 value="{{ request.GET.code }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
      </div>
      <div class="flex gap-[8px]">
        <div class="mb-[26px] flex w-full h-[48px] border border-slate-300 rounded-lg px-[10px] gap-2">
          <img src="{% static 'images/icons/icon-search.svg' %}"
               alt=""
               width="18px"
               height="18px" />
          <input type="text"
                 name="email"
                 id="email"
                 placeholder="Email"
                 value="{{ request.GET.email }}"
                 class="outline-none placeholder:text-[18px] rounded-lg h-full w-full bg-neutral-50" />
        </div>
        <div class="relative w-[322px] cursor-pointer">
          <img class="absolute top-[12px] right-[10px]"
               src="{% static 'images/icons/icon-updown-arrow.svg' %}"
               width="24px"
               height="24px" />
          <select name="campus"
                  id="campus"
                  class="outline-none text-[18px] rounded-lg h-[48px] border px-[10px] border-slate-300 [&_option:bg-red-100] w-full text-slate-300 appearance-none bg-neutral-50">
            <option value="" selected disabled>Selecione o campus...</option>
            {% for campus in filter.form.campus.field.queryset %}
              <option value="{{ campus.id }}"
                      {% if campus.id|stringformat:"s" == request.GET.campus %}selected{% endif %}>
                {{ campus.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <button class="flex items-center justify-center gap-[10px] min-w-[100px] h-[48px] bg-green-500 hover:bg-green-400 rounded-[6px] text-neutral-50">
          <img src="{% static 'images/icons/icon-filter.svg' %}"
               alt=""
               width="24px"
               height="24px" />
          <span>Filtrar</span>
        </button>
      </div>
    </form>
    <a href="{% url 'people:teacher_create' %}"
       class="text-[18px] py-[11px] px-[44px] border border-green-600 rounded-lg font-medium cursor-pointer hover:bg-green-500 hover:text-white transition-colors duration-300 mt-[2px]">
      Cadastrar Docente
    </a>
    <a href="{% url 'people:teacher_import' %}"
       class="text-[18px] py-[11px] px-[44px] border border-blue-600 rounded-lg font-medium cursor-pointer hover:bg-blue-500 hover:text-white transition-colors duration-300 mt-[2px] ml-4">
      Importar Docentes
    </a>
    <div class="mt-[53px] w-full h-max overflow-x-auto border border-slate-300 rounded-lg">
      <table class="table-auto w-full h-max [&_th]pt-[25px] rounded-lg text-slate-900 text-[18px]">
        <thead class="[&_th]:text-left [&_tr]:h-[91px] px-[84px]">
          <tr>
            <th class="pl-[76px]">Nome</th>
            <th>Matrícula</th>
            <th>Email</th>
            <th>Campi</th>
            <th colspan="3" style="text-align: center" class='pr-[26px]'>Ações</th>
          </tr>
        </thead>
        <tbody class="[&_tr]:border-t [&_tr]:border-slate-300 [&_tr]:h-[97px]">
          {% for object in object_list %}
            <tr class="hover:bg-slate-200">
              <td class="pl-[76px]">{{ object.name }}</td>
              <td>{{ object.code }}</td>
              <td>{{ object.email }}</td>
              <td>{{ object.campus.abbreviation }}</td>
              <td>
                <span class="flex justify-center items-center h-full gap-[30px] pr-[26px]">
                  <a href="{% url 'people:teacher_detail' object.pk %}"
                     class="hover:filter hover:brightness-0 transition-all">
                    <img src="{% static 'images/icons/icon-eye.svg' %}"
                         alt=""
                         height="24px"
                         class="cursor-pointer" />
                  </a>
                  <a href="{% url 'people:teacher_update' object.pk %}"
                     class="hover:filter hover:brightness-0 transition-all">
                    <img src="{% static 'images/icons/icon-edit-element.svg' %}"
                         alt=""
                         height="24px"
                         class="cursor-pointer" />
                  </a>
                  <button type="button"
                          id="openModal{{ object.pk }}"
                          data-modal-id="confirmationModal{{ object.pk }}"
                          class="hover:filter hover:brightness-0 transition-all">
                    <img src="{% static 'images/icons/icon-remove-element.svg' %}"
                         alt=""
                         height="24px"
                         class="cursor-pointer" />
                  </button>
                </span>
              </td>
              {% include "_confirm_delete_modal.html" with title="Confirmar Exclusão de Docente" body_text="Tem certeza de que deseja excluir este item? Esta ação não pode ser desfeita." delete_url="people:teacher_delete" %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center">Nenhum docente cadastrado.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "_table_pagination.html" %}
  </div>
</div>
{% endblock content %}
